footer {
  padding-top: $base-height * 7;
  padding-bottom: $base-height * 1.5;
  background-color: $bg-blue-1;
  color: $white;

  .footer-col-heading {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 12px;
    line-height: $base-line-height;
    margin-bottom: $base-height * 3;
  }

  .footer-list {
    list-style-type: none;
    padding-left: 0;

    .footer-list-item {
      line-height: $base-height * 4;

      a.footer-link {
        display: inline-block;
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 13px;
        color: $white;
        opacity: 0.6;

        &:hover {
          opacity: 1.0;
        }

        .social-icon {
          height: $base-height * 3;
          width: $base-height * 3;
          margin-right: $base-height;
          border-radius: 3px;
          padding: 4px;
          background: $white;
          fill: $footer-gray;
        }
      }
    }
  }

  input {
    border: 0;
  }

  .footer-em-input {
    height: 50%;
    font-family: 'Roboto';
    font-size: 12px;
    border-radius: 10px 10px 0 0;
  }

  .footer-em-sub {
    height: 50%;
    margin-top: -25px;
    background: $aurora-blue;
    color: $white;
    border: 1px solid $aurora-blue;
    border-radius: 0px 0px 10px 10px;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.25px;

    &:hover {
      background: $aurora-blue-lt;
      border-color: $aurora-blue-lt;
    }
  }

  .copyright {
    display: flex;
    justify-content: center;
    margin-top: $base-height * 4;
    margin-bottom: $base-height *2;
    font-size: 13px;
    opacity: 0.6;
  }
}
