.header {
  min-height: 600px;
  background: #020307;
  background: -moz-linear-gradient(top, #020307 0%, #144fbc 100%);
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, #020307),
    color-stop(100%, #144fbc)
  );
  background: -webkit-linear-gradient(top, #020307 0%, #144fbc 100%);
  background: -o-linear-gradient(top, #020307 0%, #144fbc 100%);
  background: -ms-linear-gradient(top, #020307 0%, #144fbc 100%);
  background: linear-gradient(to bottom, #020307 0%, #144fbc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#020307',
      endColorstr='#144fbc',
      GradientType=0
    );
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: relative;
  overflow: hidden;

  &.home-bg,
  .home-bg {
    background: url($static-path + "img/hero-backgrounds/Theez-Starz.svg"),
      linear-gradient(0deg, rgba(19, 62, 156, 0.87), rgba(19, 62, 156, 0.87)),
      linear-gradient(301.19deg, #133e9c 0%, #588cff 100%);
    background-size: cover;
  }

  &.community-bg {
    max-height: 600px;
    background: url($static-path + "img/hero-backgrounds/combkgrnd.png");
    background-size: cover;
    overflow: hidden;
  }

  &.blog-header {
    min-height: 0px;
    background: $white;
  }

  .navbar {
    padding: 0;

    .link-style {
      font-family: 'Poppins';
      font-weight: 500;
      font-size: 14px;
      padding: $base-height * 5 $base-height * 2;
      margin-right: $base-height * 4;

      &.dark-nav {
        color: $white;

        &:hover {
          text-decoration: underline;
        }
      }

      &.light-nav {
        color: $gray-3;

        &.active {
          font-weight: 700;
          color: $aurora-blue-dk;
        }

        &:hover {
          color: $aurora-blue-dk;
          text-decoration: underline;
        }
      }
    }

    .btn-header-dark {
      border: 2px solid $white;
      background-color: transparent;
      border-radius: 4px;
      color: $white;

      &:hover {
        background-color: $blue-1;
      }
    }

    .btn-header-light {
      border: 2px solid $aurora-blue-dk;
      background-color: transparent;
      border-radius: 4px;
      color: $aurora-blue-dk;

      &:hover {
        background-color: $aurora-blue-dk;
        color: $white;
      }
    }

    .nav-join {
      margin-top: 30px;
      padding: 10px;
      width: 180px;
      font-family: 'Poppins';
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
    }
  }
}
