<div class="container">

  {{with .Site.GetPage "subheading3.md"}}
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="spacer40"></div>
      <h3 class="title">{{.Params.heading}}</h3>
      <p>{{.Params.subText}}</p>
    </div>
  </div>
  {{end}}

  {{range where .Site.Pages ".Params.class" "press-color"}}
  <div class="col-md-6">
    <div class="presskit-logo {{.Params.bkgrndColor}}">
      <div class="row">
        <div class="col-xs-6">
          <p class="text-left">{{.Params.colorName}}</p>
        </div>
        <div class="col-xs-6 text-right">
          <p>
            <b>{{.Params.colorHex}}</b>
          </p>
        </div>
      </div>
    </div>
  </div>
  {{end}}

</div>
