<div class="container section">

  {{with .Site.GetPage "subheading1.md"}}
  <div class="row">
    <div class="col-md-12 text-center">
      <h3 class="title">{{.Params.heading}}</h3>
      <p>{{.Params.subText}}</p>
    </div>
  </div>
  {{end}}

  <div class="row">

  {{ range where .Site.Pages ".Params.class" "press-kit-logo"}}
  <div class="col-md-6">
    <div class="presskit-logo {{ .Params.bkgrndColor }}">
      <img src="{{.Params.logoImg}}" alt="">
      <div class="row">
        <div class="col-xs-6">
          <p class="text-left">Logo ({{.Params.logoColor}})</p>
        </div>
        <div class="col-xs-6 text-right">
          <p>
            <a href="{{.Site.BaseURL}}/{{.Params.logoLink}}.png" class="link text-right">.PNG</a>
            <a href="{{.Site.BaseURL}}/{{.Params.logoLink}}.svg" class="link text-right">.SVG</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  {{end}}

  </div>

</div>
