<!DOCTYPE html>
<html lang="en">
  <head>
{{partial "head" .}}
</head>
<body class="page">
    <div class="container-fluid dev-page-banner visible-md visible-lg" style="overflow: hidden;padding:0px;margin:0px;">
{{partial "developers/heroNav" .}}
      <div class="container-fluid" style="background-color: #F2F4F6;">
          <div class="spacer30"></div>
          <section class="section">
            <div class="container">
              <div class="row text-center">
                  <div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-1">
                    {{partial "developers/box1" .}}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-5">
                    {{partial "developers/box2" .}}
                    </div>
              </div>
            </div>
          </section>
          </div>
          {{partial "footer" .}}
          {{partial "scripts" .}}
  </body>
</html>
