<!DOCTYPE html>
<html lang="en">
  <head>
{{partial "head" .}}
</head>
<body>
{{partial "invite/nav" .}}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">

            <div class="spacer45"></div>
                <h1>ESTÁ INVITADO</h1>
            <div class="spacer45"></div>

            <p>¡El lanzamiento “Explorer” para operadores de nodos de almacenamiento ya está aquí!</p>

            <p>Gracias por registrarse en la lista de espera para operadores de nodos de almacenamiento. Está invitado a configurar su nodo de almacenamiento y comenzar a ganar ingresos y establecer buena <a href="https://storj.io/blog/2019/01/reputation-matters-when-it-comes-to-storage-nodes/">reputación</a> antes del lanzamiento de la versión Pioneer (beta) y en tiempo para el lanzamiento de la versión de producción (Voyager), programadas para más adelante en este año.</p>

            <p>Favor de tomarse el tiempo necesario para leer el blog de resumen para operadores de nodos de almacenamiento antes de configurar su nodo.</p>

            <div class="spacer45"></div>

            <a href="https://storj.io/blog"><div class="btn btn-primary">LEER EL BLOG</div></a>

            <div class="spacer45"></div>

            <hr>

            <div class="spacer45"></div>

            <h1>Aquí se encuentra su token de autorización de uso único para firmar su certificado de nodo:</h1>

            <div class="spacer45"></div>

            <p><strong>consultar su correo electrónico</strong></p>

            <div class="spacer45"></div>

            <p>El uso del token de autorización implica que Usted se compromete a cumplir con los términos de servicio.</p>

            <div class="spacer45"></div>

            <hr>

            <div class="spacer45"></div>

            <h1>INSTRUCCIONES DE CONFIGURACIÓN</h1>

            <div class="spacer45"></div>

            <p>Para configurar el nodo de almacenamiento y conectarle a un Satélite, favor de seguir las instrucciones disponibles en nuestro repositorio de <a href="https://github.com/storj/docs/blob/master/Explorer-Release-Setup-Instructions.md">Github.</a></p>

            <div class="spacer45"></div>

            <p>Durante esta etapa Alfa, Storj Labs controlará el flujo de datos nuevos entrando a la red para fines de prueba, mientras que estamos preparando para el lanzamiento de la etapa Vanguard, la cual abrirá la red para usuarios y socios para comenzar almacenar datos y permitirá que los clientes y socios aún en la lista de espera para desarrolladores puedan subir y almacenar sus datos.</p>

            <div class="spacer45"></div>

            <hr style="BORDER-RIGHT: medium none; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; HEIGHT: 1px;"> 

            <div class="spacer45"></div>

            <h1>SOPORTE</h1>

            <div class="spacer45"></div>

            <p>Favor de unirse a nuestro <a href="https://community.storj.io/home">chat de la comunidad</a> y dirigir sus preguntas relacionadas a la configuración de nodos al canal llamado #storagenode.</p>

            <div class="spacer45"></div>

            <p>Nos encantan las ideas de nuestra comunidad - sean bienvenidos los sugerencias en nuestro <a href="https://ideas.storj.io/">portal de ideas</a>.</p>

            <div class="spacer45"></div>

            <p>Si descubre errores de programación en el producto, puede reportarlo <a href="https://github.com/storj/storj/issues">aquí</a>. Somos un proyecto de fuente abierto y siempre dispuestos aceptar contribuciones a nuestra base de codigo via nuestro repositorio de <a href="https://github.com/storj/storj">GitHub</a>.</p>
            
            <div class="spacer45"></div>
            <div class="spacer45"></div>


            <div style="background-color:#ffedcc;border:2px solid orangered;border-radius:4px;padding:30px;">
            <p style="color:orangered;"><Strong>*IMPORTANTE*</Strong> No será posible configurar más de un solo nodo con el token de autorización proporcionado. En contraste con la red V2, no existirán beneficios en operar múltiples nodos de almacenamiento en V3. Un operador que oferta 10 TB de espacio en un solo nodo de 10 TB tendrá el mismo potencial de ganar recompensas que si hubiera ofertado dos nodos de 5 TB cada uno. Favor de leer nuestros <a href="https://storj.io/blog">blogs</a> reciente sobre nodos de almacenamiento, y el <a href="https://storj.io/white-paper">V3 White Paper</a> para más detalles.</p>
            <p style="color:orangered;">Si aún está operando un nodo V2, le recomendamos mantenerlo funcionando hasta el lanzamiento de la versión Beta de V3.</p>
            </div>

            <div class="spacer45"></div>
            <div class="spacer45"></div>
            <div class="spacer45"></div>

        </div>
    </div>
</div>
{{partial "footer" .}}
{{partial "scripts" .}}
  </body>
</html>