<div class="container hidden-sm hidden-md hidden-lg hidden-xl">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 breadcrumb area-to-hover">
      <div class="dropdown-toggle breadcrumb" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="row">
          <div class="col-xs-10" class="text-left">
            <h5 id="group">Our People (All)</h5>
          </div>
          <div class="col-xs-2" class="text-right">
            <span><i class="arrow down"></i></span>
          </div>
        </div>
      </div>
      <div class="dropdown-menu selector-dropdown-menu">
        <ul class="nav nav-pills nav-justified text-center">
            <p class="active" ><a id="val1" href="#value1" data-toggle="tab" onclick="setGroup(this)">All</a></p>
            <p><a onclick="setGroup(this)" id="val2" href="#value2" data-toggle="tab">Leadership & Advisors</a></p>
            <p><a onclick="setGroup(this)" id="val3" href="#value3" data-toggle="tab">DevOps, UX & Product</a></p>
            <p><a onclick="setGroup(this)" id="val4" href="#value4" data-toggle="tab">Engineering</a></p>
            <p><a onclick="setGroup(this)" id="val5" href="#value5" data-toggle="tab">Data&nbspScience</a></p>
            <p><a onclick="setGroup(this)" id="val6" href="#value6" data-toggle="tab">Strategy</a></p>
            <p><a onclick="setGroup(this)" id="val7" href="#value7" data-toggle="tab">Marketing, Sales & Community</a></p>
            <p><a onclick="setGroup(this)" id="val8" href="#value8" data-toggle="tab">People, Finance & Operations</a></p>
         </ul>
       </div>
    </div>

    <div id="wrapper-mar" style="display:none;">
      <div id="helpe-mar" class="breadcrumb hidden-sm hidden-md hidden-lg"></div>
    </div>

    <div id="wrapper-hr" style="display:none;">
        <div id="helper-hr" class="breadcrumb hidden-sm hidden-md hidden-lg"></div>
    </div>

  </div>
</div>
