<div class="container hidden-sm hidden-md hidden-lg hidden-xl">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 breadcrumb area-to-hover">
      <div class="dropdown-toggle breadcrumb" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="row">
          <div class="col-xs-10" class="text-left">
            <h5 id="group">Our People (All)</h5>
          </div>
          <div class="col-xs-2" class="text-right">
            <span><i class="arrow down"></i></span>
          </div>
        </div>
      </div>
      <div class="dropdown-menu selector-dropdown-menu">
        <ul class="nav text-center">
            <li class="active" ><a id="val1" href="#value1" data-toggle="tab">All</a></li>
            <li><a id="val2" href="#value2" data-toggle="tab">Leadership &amp; Advisors</a></li>
            <li><a id="val3" href="#value3" data-toggle="tab">DevOps, UX &amp; Product</a></li>
            <li><a id="val4" href="#value4" data-toggle="tab">Engineering</a></li>
            <li><a id="val5" href="#value5" data-toggle="tab">Data Science</a></li>
            <li><a id="val6" href="#value6" data-toggle="tab">Strategy</a></li>
            <li><a id="val7" href="#value7" data-toggle="tab">Marketing, Sales &amp; Community</a></li>
            <li><a id="val8" href="#value8" data-toggle="tab">People, Finance &amp; Operations</a></li>
         </ul>
       </div>
    </div>

    <div id="wrapper-mar hidden">
      <div id="helpe-mar" class="breadcrumb hidden-sm hidden-md hidden-lg"></div>
    </div>

    <div id="wrapper-hr hidden">
        <div id="helper-hr" class="breadcrumb hidden-sm hidden-md hidden-lg"></div>
    </div>

  </div>
</div>
