<script type="text/javascript">
  function setActive(e){
    var allOpts = e.parentNode.children;
    for(var i = 0; i < allOpts.length; i++){
      allOpts[i].children[1].children[0].style.border = null;
      allOpts[i].children[0].style.fontWeight = null;
    }
    var text = e.children[0];
    var hr = e.children[1].children[0]
    hr.style.border = "1px solid #2683ff"
    text.style.fontWeight = "600";

    var group = document.getElementById("group");
    var textToSet = e.children[0].innerHTML;
    var wrapperMar = document.getElementById("wrapper-mar");
    var wrapperHr = document.getElementById("wrapper-hr");
    var group = document.getElementById("group");
    group.innerHTML = textToSet;
    if(textToSet === "Marketing"){
      wrapperHr.style.display = "none";
      wrapperMar.style.display = "block";
    }else if(textToSet === "People&nbsp&&nbspFinance"){
      wrapperMar.style.display = "none";
      wrapperHr.style.display = "block";
    }else if((textToSet !== "Marketing") || (textToSet !== "People&nbsp&&nbspFinance")){
      wrapperHr.style.display = "none";
      wrapperMar.style.display = "none";
    }
  }

  function setGroup(e){
    var group = document.getElementById("group");
    var textToSet = e.innerHTML;
    var wrapperMar = document.getElementById("wrapper-mar");
    var wrapperHr = document.getElementById("wrapper-hr");
    var group = document.getElementById("group");
    group.innerHTML = textToSet;
    if(textToSet === "Marketing"){
      wrapperHr.style.display = "none";
      wrapperMar.style.display = "block";
    }else if(textToSet === "People&nbsp&&nbspFinance"){
      wrapperMar.style.display = "none";
      wrapperHr.style.display = "block";
    }else if((textToSet !== "Marketing") || (textToSet !== "People&nbsp&&nbspFinance")){
      wrapperHr.style.display = "none";
      wrapperMar.style.display = "none";
    }
    var allOpts = document.getElementById("lis").children
    for(var i = 0; i < allOpts.length; i++){
      if(allOpts[i].children[0].innerHTML !== textToSet){
        allOpts[i].children[1].children[0].style.border = null;
        allOpts[i].children[0].style.fontWeight = null;
      }else{
        allOpts[i].children[1].children[0].style.border = "1px solid #2683ff";
        allOpts[i].children[0].style.fontWeight = "600";
      }
    }
  }
</script>