<div class="container">
<div class="spacer35"></div>
  <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <div class="tab-content">

            <div class="tab-pane" id="value1">
              {{partial "team/leadership" .}}
            </div>

            <div class="tab-pane" id="value2">
                {{partial "team/board" .}}
            </div>

            <div class="tab-pane" id="value3">
                {{partial "team/engineering" .}}
            </div>

            <div class="tab-pane" id="value4">
                {{partial "team/opsUxProduct" .}}
            </div>

            <div class="tab-pane" id="value5">
              {{partial "team/datascience" .}}
            </div>

            <div class="tab-pane" id="value6">
                {{partial "team/strategy" .}}
            </div>

            <div class="tab-pane" id="value7">
                {{partial "team/marketing" .}}
            </div>

            <div class="tab-pane" id="value8">
                {{partial "team/hr" .}}
            </div>

            <div class="tab-pane active" id="value9">
              {{partial "team/all" .}}
            </div>
            
              </div>
            </div>
          </div>
          </div>
        </div>
