<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-push-1">
          <div class="tab-content">

            <div class="tab-pane active" id="value1">
              {{partial "team/all" .}}
            </div>

            <div class="tab-pane" id="value2">
              <h2 class="team-title">Executive Team</h2>
              {{partial "team/leadership" .}}
              <h2 class="team-title">Board and Advisors</h2>
              {{partial "team/board" .}}
            </div>

            <div class="tab-pane" id="value3">
                <h2 class="team-title">Product</h2>
                {{partial "team/product" .}}
                <h2 class="team-title">Dev Ops</h2>
                {{partial "team/ops" .}}
            </div>


            <div class="tab-pane" id="value4">
                {{partial "team/engineering" .}}
            </div>

            <div class="tab-pane" id="value5">
              {{partial "team/datascience" .}}
            </div>

            <div class="tab-pane" id="value6">
                {{partial "team/strategy" .}}
            </div>

            <div class="tab-pane" id="value7">
              <h2 class="team-title">Marketing</h2>
                {{partial "team/marketing" .}}
              <h2 class="team-title">Sales</h2>
                {{partial "team/sales" .}}
              <h2 class="team-title">Community</h2>
                {{partial "team/community" .}}
            </div>

            <div class="tab-pane" id="value8">
                {{partial "team/hr" .}}
            </div>

          </div>
      </div>
    </div>
  </div>
</div>
