<div class="section grey visible-sm visible-md visible-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-push-1">
        <ul id="lis" class="nav nav-pills">
          <li class="team-selector active"><a id="val1" href="#value1" data-toggle="tab" class="team-selector-link">All</a></li>
          <li class="team-selector"><a id="val2" href="#value2" data-toggle="tab" class="team-selector-link">Leadership &amp; Advisors</a></li>
          <li class="team-selector"><a id="val3" href="#value3" data-toggle="tab" class="team-selector-link">DevOps, UX &amp; Product</a></li>
          <li class="team-selector"><a id="val4" href="#value4" data-toggle="tab" class="team-selector-link">Engineering</a></li>
          <li class="team-selector"><a id="val5" href="#value5" data-toggle="tab" class="team-selector-link">Data Science</a></li>
          <li class="team-selector"><a id="val6" href="#value6" data-toggle="tab" class="team-selector-link">Strategy</a></li>
          <li class="team-selector"><a id="val7" href="#value7" data-toggle="tab" class="team-selector-link">Marketing, Sales &amp; Community</a></li>
          <li class="team-selector"><a id="val8" href="#value8" data-toggle="tab" class="team-selector-link">People, Finance &amp; Operations</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
