<div class="container visible-sm visible-md visible-lg" >
        <div class="row">
          <ul id="lis" class=" nav nav-pills nav-justified text-center" style="padding:0px;">
              <li onclick="setActive(this)" class="active"><a id="val1" href="#value1" data-toggle="tab" style="border: none;box-shadow: none;background-color:white;color:black;font-weight:600">All</a><div style="margin-top:-15px;"><hr style="border:1px solid #2683ff"></div></li>
              <li onclick="setActive(this)"><a id="val2" href="#value2" data-toggle="tab" style="border: none;box-shadow: none;background-color:white;color:black;">Leadership</a><div style="margin-top:-15px;"><hr></div></li>
              <li onclick="setActive(this)"><a id="val3" href="#value3" data-toggle="tab" style="border: none;box-shadow: none;background-color:white;color:black;">Product</a><div style="margin-top:-15px;"><hr></div></li>
              <li onclick="setActive(this)"><a id="val4" href="#value4" data-toggle="tab" style="border: none;box-shadow: none;background-color:white;color:black;">DevOps</a><div style="margin-top:-15px;"><hr></div></li>
              <li onclick="setActive(this)"><a id="val5" href="#value5" data-toggle="tab" style="border: none;box-shadow: none;background-color:white;color:black;">Engineering</a><div style="margin-top:-15px;"><hr></div></li>
              <li onclick="setActive(this)"><a id="val6" href="#value6" data-toggle="tab" style="border: none;box-shadow: none;background-color:white;color:black;">Data&nbspScience</a><div style="margin-top:-15px;"><hr></div></li>
              <li onclick="setActive(this)"><a id="val7" href="#value7" data-toggle="tab" style="border: none;box-shadow: none;background-color:white;color:black;">Strategy</a><div style="margin-top:-15px;"><hr></div></li>
              <li onclick="setActive(this)"><a id="val8" href="#value8" data-toggle="tab" style="border: none;box-shadow: none;background-color:white;color:black;">Marketing</a><div style="margin-top:-15px;"><hr></div></li>
              <li onclick="setActive(this)"><a id="val9" href="#value9" data-toggle="tab" style="border: none;box-shadow: none;background-color:white;color:black;">People&nbsp&&nbspFinance</a><div style="margin-top:-15px;"><hr></div></li>
           </ul>
          </div>
        </div>