// --- Style Guide Color Pallete ----------------------------------------------------- //
$aurora-blue: #2582ff;
$aurora-blue-lt: #6eacff;
$aurora-blue-md: #7048e8;
$aurora-blue-dk: #133e9c;

$black: #212429;
$gray-5: #495057;
$gray-4: #93a1af;
$gray-3: #c5cbdb;
$gray-2: #eaecf0;
$gray-1: #f5f8fb;
$white: #fff;

// --- STORJ.IO Color Pallete -------------------------------------------------------- //
$blue-1: #173ae8;
$blue-2: #2683ff;
$blue-2-1: #2d86fb;
$green-1: #88c425;
$green-2: #91d127;
$orange-1: #ff7f00;
$orange-2: #ff6600;
$purple-1: #7056bf;
$purple-2: #7016bf;
$red-1: #fa6e50;
$bg-blue-1: #1743a2;
$btn-blue-1: #003366;
$lt-blue-1: #bad7fe;
$bg-blue-dk: #041845;
