<!DOCTYPE html>
<html lang="en">
  <head>
    {{partial "head" .}}
</head>

  <body class="page">
      {{partial "home/Banner" .}}
  <section>
        {{partial "team/heroNav" .}}
  </section>

        <div class="spacer20 hidden-xs"></div>
        {{partial "team/tabSelector" .}}
        {{partial "team/dropSelector" .}}
        {{partial "team/tabContent" .}}
        <div class="spacer20"></div>

        <div class="container-fluid" style="background-color:#F2F4F6;">
            <div class="spacer45"></div>
                <div class="row">
                  <div class="col-xs-12 text-center">
                    <div class="div-sm"></div>
                    <h1 class="title" style="color:black">Do you want to join?</h3>
                    <p>Storj is currently looking for new talent.</p>
                    <a href="/careers/" class="btn btn-blue get-in-touch">Check Open Positions</a>
                    <div class="spacer45"></div>
                    <div class="spacer45"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{partial "footer" .}}
      {{partial "scripts" .}}
      {{partial "team/setGroup" .}}
  </body>
</html>

<script type="text/javascript">
  window.onload = function() {

    var button = document.getElementById("mc-embedded-subscribe-footer")

    button.onclick = function (event) {

      event.preventDefault()

      var inputValue = document.getElementById("mce-EMAIL-newsletter").value
      var errElm = document.getElementById("mce-error-response-newsletter");
      var succElm = document.getElementById("mce-success-response-newsletter");

      if (!inputValue || inputValue.length < 0 || !inputValue.includes("@")) {
        if(succElm) {
          succElm.setAttribute("style", "display:none;");
        }
        if(errElm) {
          errElm.setAttribute("style", "display:flex;");
        }
        return;
      } else {
        analytics.identify(analytics.user().anonymousId(), {email: inputValue, storj_newsletter: true}, {}, function() {
          analytics.track("storj_newsletter", {});
          if(errElm) {
            errElm.setAttribute("style", "display:none;");
          }
          if(succElm) {
            succElm.setAttribute("style", "display:flex;");
          }
        });
      }
    }
  }
</script>
