<div class="footer">
  <div class="navbar-blue">
    <nav class="navbar navbar-default menu">
      <div class="container">
        <a href="/" class="navbar-brand">
          <img src="/img/storj-blue-logo.svg" alt="Storj Logo" class="logo logo-blue">
        </a>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="link-style" href="https://forum.storj.io/">Community</a></li>
          <li><a class="link-style" href="https://support.storj.io/">Support</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
