<section class="section visible-lg">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
          <h1 style="color:black;">Connect with Us</h1>
          <div class="spacer45"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">

{{ range where .Site.Pages ".Params.class" "cwu" }}
        <div class="col-lg-2">
          <a href="{{.Params.ctaLink}}" target="_blank" rel="noopener noreferrer" class="panel-link">
            <div class="panel panel-card">
              <img src="{{.Params.img}}" alt="" height="40" width="40">
              <h4>{{.Params.ctaText}}</h4>
            </div>
          </a>
        </div>
{{end}}
      </div>
    </div>
  </section>

<section class="section visible-xs visible-sm visible-md">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
        <h1 style="color:black;">Connect with Us</h1>
        <div class="spacer45"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-lg-offset-1 text-center">
{{ range where .Site.Pages ".Params.class" "cwu" }}
      <div class="col-xs-12 col-sm-12 col-md-6">
        <a href="{{.Params.ctaLink}}" target="_blank" rel="noopener noreferrer" class="panel-link">
          <div class="panel panel-card">
            <img src="{{.Params.img}}" alt="" height="40" width="40">
            <h4>{{.Params.ctaText}}</h4>
          </div>
        </a>
      </div>
      {{end}}
    </div>
  </div>
</section>
