{{ with .Site.GetPage "earn"}}
<div class="container-fluid careers-grey">
    <div class="container">
        <div class="spacer100"></div>
        <div class="row text-center">
            <img src="{{.Params.img}}" alt="{{.Params.alt}}"/>
            <div class="spacer30"></div>
            <h1 class="community-heading">{{.Params.heading}}</h1>
            <div class="spacer20"></div>
            <a href="{{.Params.ctaLink}}" class="btn btn-primary">{{.Params.ctaText}} <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
        <div class="spacer100"></div>
    </div>
</div>
{{end}}
