<div class="header community-bg">

  <section>
  {{with .Site.GetPage "page" "communityHeroNav"}}
    {{partial "navbar" .}}
  </section>

  <div class="container text-center-xs">
    <div class="row">
      <div class="col-sm-12 col-md-7 col-lg-6 txt-white">
        <div class="spacer45"></div>
        <p class="community-hero-heading">{{.Params.heading}}</p>
        <div class="spacer15"></div>
        <div class="col-sm-12 col-md-10 no-spacing txt-white">
          <p class="community-hero-sub-heading">{{.Content}}</p>
          <div class="spacer45"></div>
          <a href="{{.Params.ctaLink}}"><div class="btn btn-primary">{{.Params.ctaText}}</div></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-5 col-lg-6">
        <div class="community-city"></div>
      </div>
    </div>
  </div>

</div>

{{end}}
