<div class="container-fluid" style="background-color: #F2F4F6;">
    <section class="section text-center">
    <h1 style="color:black;">Newsletter and Company Updates</h1>
    <div class="spacer45"></div>
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12 col-md-6 col-md-push-3">
          <div class="newsletter-inner" style="box-shadow: 0 2px 12px 0 rgba(0,0,0,0.09);">
            <img src="/img/nletter.svg" alt="Storj Newsletter" width="60">
            <div class="spacer20"></div>
            <div id="getStartedForm">
              <form action="https://storj.us8.list-manage.com/subscribe/post?u=edba9fc4ce8b9095a31859cba&amp;id=01f64923fa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                <input type="email" value="" name="EMAIL" class="email" id="getStartedEmail" placeholder="example@email.com" spellcheck="false" required>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_edba9fc4ce8b9095a31859cba_01f64923fa" tabindex="-1" value="">
                  <input type="text" id="group_2" name="group[11693][2]" value="">
                </div>
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-block subscribe">
              </form>
            </div>
            <p class="promise">*We will never share, rent, or sell your email address to anyone, ever.</p>
            <div class="spacer20"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="spacer20"></div>
</section>
</div>