<script src="js/jquery-2.1.1.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/segment.js"></script>

<script>
  jQuery(document).ready(function($){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
<script type="text/javascript" src="js/runtime.ec2944dd8b20ec099bf3.js"></script>
<script type="text/javascript" src="js/polyfills.3a49c13d128c5e2aeb48.js"></script>
<script type="text/javascript" src="js/main.47125a409b7f875029f4.js"></script>
