
#publicKeys input {
	margin-top: 20px;
}

select {
	height: 46px;
	text-indent: 10px;
	color: #444;
}

.email {
	margin-top: 1em;
	margin-bottom: 1em;
}

::-webkit-input-placeholder {
    color: #444;
}
:focus::-webkit-input-placeholder {
    color: #BAD7FE;
}
:-moz-placeholder {
    color: #444;
}
:focus:-moz-placeholder {
    color: #BAD7FE;
}
::-moz-placeholder {
    color: #444;
}
:focus::-moz-placeholder {
    color: #BAD7FE;
}
:-ms-input-placeholder {
    color: #444;
}
:focus:-ms-input-placeholder {
    color: #BAD7FE;
}
