h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: 'Poppins';
  font-weight: 700;
  color: $black;
}

h1 {
  font-size: 38px;
  line-height: $base-line-height * 2;
}

h2 {
  font-size: 28px;
  line-height: $base-height * 5;
}

h3 {
  font-size: 16px;
  line-height: $base-line-height;
}

h4 {
  font-size: 14px;
  line-height: $base-line-height;
}

h5 {
  font-size: 11px;
  font-weight: 500;
  line-height: $base-height * 2;
  text-transform: uppercase;
}

p {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 300;
  line-height: $base-line-height;
  color: $black;

  &.med {
    font-size: 16px;
  }

  &.small {
    font-size: 14px;
    font-weight: 300;
  }
}

.cta-link {
  font-family: $header-font;
  font-size: 18px;
  font-weight: 700;
  color: $aurora-blue-dk;

  &:hover {
    color: $aurora-blue;
  }
}

.white-text {
  color: $white !important;
}
.right-align {
  text-align: right !important;
}
.left-align {
  text-align: left !important;
}
.center-align {
  text-align: center !important;
}

.hero-header {
  margin-bottom: $base-height * 3;
  font-family: $header-font;
  font-size: 28px;
  font-weight: 700;
  line-height: $base-height * 5;
  text-align: center;
}

.hero-text {
  margin-bottom: $base-height * 6;
  font-family: $text-font;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.hiw-caption {
  margin: 0;
  padding: $base-height * 2 0;
  font-family: $header-font;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: $white;
}

.reasons-header {
  margin-bottom: $base-height * 6;
  font-size: 28px;
  line-height: $base-height * 5;
  text-align: center;
}

.reasons-title {
  padding: $base-height 0;
  font-family: $header-font;
  font-size: 18px;
  font-weight: 700;
}

.reasons-description {
  margin-bottom: $base-height * 6;
  font-family: $text-font;
  font-size: 14px;
  font-weight: 300;
}

.support-header {
  margin: $base-height 0;
  font-family: $header-font;
  font-size: 21px;
  font-weight: 700;
  line-height: $base-height * 5;
  text-align: center;
}
