h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: 'Poppins';
  font-weight: 700;
  color: $black;
}

h1 {
  font-size: 38px;
  line-height: $base-line-height * 2;
}

h2 {
  font-size: 28px;
  line-height: $base-height * 5;
}

h3 {
  font-size: 16px;
  line-height: $base-line-height;
}

h4 {
  font-size: 14px;
  line-height: $base-line-height;
}

h5 {
  font-size: 11px;
  font-weight: 500;
  line-height: $base-height * 2;
  text-transform: uppercase;
}

p {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 300;
  line-height: $base-line-height;
  color: $black;

  &.med {
    font-size: 16px;
  }

  &.small {
    font-size: 14px;
  }
}

.white-text {
  color: $white;
}

.hero-header {
  font-size: 28px;
  line-height: $base-height * 5;
  color: $white;
  text-align: center;

  &.left-align {
    margin-bottom: $base-height * 4;
    text-align: left;
  }
}

.hero-text {
  margin-bottom: $base-height * 6;
  color: $white;
}
