<!DOCTYPE html>
<html lang="en">
  <head>
{{partial "head" .}}
</head>

  <body class="page contact">

    <div class="container-fluid" style="background-color:#3187FF;">

{{ partial "sign-up-farmer/nav" .}}

  <section class="section">
    <div class="container">
      <div class="row" style="margin-top:-25px;">
        <div class="col-xs-12 col-md-8 col-md-push-2 col-lg-8 col-lg-push-2 text-center">
          <h1 style="margin-bottom:0.3em;color:white;font-size: 36px;	font-weight: 800;	line-height: 44px;">{{.Params.heading}}</h1>
          <div class="spacer10"></div>
          <p style="color:white;font-size: 16px;line-height: 28px;">{{ .Params.headingText }}</p>
          <div class="spacer45"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>

  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">

      <div id="mc_embed_signup">

<form action="https://storj.us8.list-manage.com/subscribe/post?u=edba9fc4ce8b9095a31859cba&amp;id=a6c5ed557e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" style="padding:0px;" novalidate>
    <div id="mc_embed_signup_scroll">
        <div class="spacer45"></div>
    <h2 style="color:black;font-size: 28px;	font-weight: 800;	line-height: 34px;">{{.Params.subHeading}}</h2>
    <p style = "color: #333333;font-size: 14px;	line-height: 26px;max-width:861px;">{{.Params.subHeadingText}}</strong></p>

  <div class="row">
  <div class="col-lg-12">

  <div class="mc-field-group" style="max-width:100%;width:100%;">
      <div class="spacer25"></div>
    <label for="mce-EMAIL" style="font-size: 19px;	line-height: 23px;">Email Address</label>
    <div class="spacer5"></div>
    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" style="max-width:100%;margin:0px;" required>
  </div>



<div class="row">

<div class="col-lg-6">
  <label for="mce-MMERGE1" style="font-size: 19px;	line-height: 23px;">1 processor core/node service</label>
  
  <select name="MMERGE1" class="" id="mce-MMERGE1" class="required" style="max-width:100%;margin-top:-5px;" required>
    <option value="" disabled selected>Can you fulfill this requirement?</option>
	  <option value="Yes I can fulfill this requirement">Yes I can fulfill this requirement</option>
    <option value="No I cannot fulfull this requirement">No I cannot fulfull this requirement</option>
  </select>
</div>

<div class="col-lg-6 ">
    <label for="mce-MMERGE2" style="font-size: 19px;	line-height: 23px;">500GB space available</label>
    
    <select name="MMERGE2" class="" id="mce-MMERGE2" class="required" style="max-width:100%;margin-top:-5px;" required>
      <option value="" disabled selected>Can you fulfill this requirement?</option>
      <option value="Yes I can fulfill this requirement">Yes I can fulfill this requirement</option>
      <option value="No I cannot fulfull this requirement">No I cannot fulfull this requirement</option>
    </select>
  
  </div>

</div>


<div class="row">

  <div class="col-lg-6">
  <label for="mce-MMERGE3" style="font-size: 19px;	line-height: 23px;">Bandwidth - 2TB/month</label>
  
  <select name="MMERGE3" class="" id="mce-MMERGE3" class="required" style="max-width:100%;margin-top:-5px;" required>
    <option value="" disabled selected>What is your bandwidth availability?</option>
	  <option value="I have less than 2TB of bandwidth available">I have less than 2TB of bandwidth available</option>
    <option value="I have between 2TB and 16TB of bandwidth available">I have between 2TB and 16TB of bandwidth available</option>
    <option value="I have over 16TB of bandwidth available.">I have over 16TB of bandwidth available.</option>
  </select>

  </div>
  

  <div class="col-lg-6">
  <label for="mce-MMERGE4" style="font-size: 19px;	line-height: 23px;">Upstream bandwidth - 5 Mbit/s(~625KB/s) </label>
  
  <select name="MMERGE4" class="" id="mce-MMERGE4" class="required" style="max-width:100%;margin-top:-5px;" required>
    <option value="" disabled selected>What is your upload availability?</option>
	  <option value="I have less than 5 Mbit/s per month (~3,125KB/s) of upload bandwidth available">I have less than 5 Mbit/s per month (~3,125KB/s) of upload bandwidth available</option>
    <option value="I have between 5 Mbit/s per month (~3,125KB/s) and 100 Mbit/s of upload bandwidth available">I have between 5 Mbit/s per month (~3,125KB/s) and 100 Mbit/s of upload bandwidth available</option>
    <option value="I have over 100 Mbit/s of upload bandwidth available per month.">I have over 100 Mbit/s of upload bandwidth available per month.</option>
	</select>
</div>

</div>

<div class="row">

<div class="col-lg-6">
  <label for="mce-MMERGE5" style="font-size: 19px;	line-height: 23px;">Download - 25Mbit/s(~3,125KB/s)</label>
  
  <select name="MMERGE5" class="" id="mce-MMERGE5" class="required" style="max-width:100%;margin-top:-5px;" required>
    <option value="" disabled selected>What is your download availability?</option>
	  <option value="I have less than 25 Mbit/s per month (~3,125KB/s) of downstream bandwidth available">I have less than 25 Mbit/s per month (~3,125KB/s) of downstream bandwidth available</option>
    <option value="I have between 25 Mbit/s per month (~3,125KB/s) and 100 Mbit/s of downstream bandwidth available">I have between 25 Mbit/s per month (~3,125KB/s) and 100 Mbit/s of downstream bandwidth available</option>
    <option value="I have over 100 Mbit/s of downstream bandwidth available per month.">I have over 100 Mbit/s of downstream bandwidth available per month.</option>
  </select>

</div>

<div class="col-lg-6">
  <label for="mce-MMERGE6" style="font-size: 19px;	line-height: 23px;">Max downtime of 5 hour/month</label>
  
  <select name="MMERGE6" class="" id="mce-MMERGE6" class="required" style="max-width:100%;margin-top:-5px;" required>
    <option value="" disabled selected>Can you fulfill this requirement?</option>
	  <option value="Yes I can fulfill this requirement">Yes I can fulfill this requirement</option>
    <option value="No I cannot fulfill this requirement">No I cannot fulfill this requirement</option>
  </select>

</div>

</div>

<div class="row">

  <div class="col-lg-12">
      <div class="spacer35"></div>
	    <label for="mce-MMERGE7" style="font-size: 19px;	line-height: 23px;">Payout address for V2 if you had one </label>
	    <input type="text" value="" name="MMERGE7" class="" id="mce-MMERGE7" style="max-width:100%;width:100%;margin-top:-5px;">
  </div>

  </div>

<div class="row">

  <div class="col-lg-12">
      <label for="mce-MMERGE8" style="font-size: 19px;	line-height: 23px;">Node ID from V2 if you had one </label>
      <p>Please list only one node ID. If you were running multiple nodes on V2, select the one with the best reputation.</p>
	    <input type="text" value="" name="MMERGE8" class="" id="mce-MMERGE8" style="max-width:100%;width:100%;margin-top:-5px;" >
  </div>

</div>


	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_edba9fc4ce8b9095a31859cba_a6c5ed557e" tabindex="-1" value=""></div>

    <div class="clear">
      <input type="submit" value="SIGN UP" name="subscribe" class="btn btn-primary"></div>
      <div class="spacer45"></div>

    </div>

</form>
</div>

<!-- <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='MMERGE1';ftypes[1]='dropdown';fnames[2]='MMERGE2';ftypes[2]='dropdown';fnames[3]='MMERGE3';ftypes[3]='dropdown';fnames[4]='MMERGE4';ftypes[4]='dropdown';fnames[5]='MMERGE5';ftypes[5]='dropdown';fnames[6]='MMERGE6';ftypes[6]='dropdown';fnames[7]='MMERGE7';ftypes[7]='text';fnames[8]='MMERGE8';ftypes[8]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script> -->

</div>
</section>

  <div class="spacer35"></div>

{{ partial "footer" .}}
{{ partial "scripts" .}}

  </body>
</html>
