<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head" .}}
  </head>
  <body class="page contact">
    {{partial "googletag" .}}
    {{partial "home/Banner" .}}
    {{partial "partners/heroNav" .}}
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3 text-center">
          <h1>{{ .Params.heading }}</h1>
          <div class="spacer25"></div>
          <p class="signup-subheading">{{ .Params.subHeading }}</p>
          <div class="spacer10"></div>
          <p>{{ .Params.introText }}</p>
          <div class="spacer5"></div>
          <a href="https://tardigrade.io/waitlist"><button class="btn btn-primary">Sign Up on Tardigrade</button></a>
          <div class="spacer25"></div>
          <div>
            <small class="gray">Interested in earning money renting your drive? <br><a href="/sign-up-farmer/">Join the Storage Node Operator Waitlist</a></small>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="spacer35"></div>
  {{partial "footer" .}}
  {{partial "scripts" .}}
  </body>
</html>
