<!DOCTYPE html>
<html lang="en">
  <head>
{{ partial "head" .}}
</head>

  <body class="page faq">
      {{partial "googletag" .}}
      {{partial "home/Banner" .}}
      {{partial "partners/heroNav" .}}
    <section class="section">
    <div class="container">
      <div class="row">
        {{ with .Site.GetPage "communityReporting" }}
        <div class="col-xs-12 col-md-8 col-md-push-2 text-center">
        {{ .Content }}
        {{end}}
    </div>
</div>
</section>
{{ partial "footer" .}}
{{ partial "scripts" .}}
    </body>
</html>
