<div class="container-fluid sno-bg visible-md visible-lg" style="overflow: hidden;padding:0px;margin:0px;max-height:880px;">
  <div class="container">
    <section style="padding:0px;margin:0px;">
    {{with .Site.GetPage "page" "SNOHeroNav"}}
      <nav class="navbar navbar-default menu">
        <div class="container" style="padding-left:0px;padding-right:30px;">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a href="/" class="navbar-brand">
              <img src="/img/new-white-logo.svg" alt="Storj" class="logo img-responsive">
            </a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                  {{range where .Site.Pages ".Params.class" "navitem"}}
                  <li><a class="link-style" href="{{ .Params.link }}">{{ .Title }}</a><div class="visible-lg-inline-block" style="width:28px;display:inline-block"></div></li>
                  {{end}}
                  <a href="/sign-up-node-operator/" class="pull-right-md"><button class="btn btn-primary nav-join" style="background:transparent;">Join the Waitlist</button></a></li>
            </ul>
          </div>
        </div>
      </nav>

    </section>
    <div class="jumbotron dashboard-message">
      <div>
        <p><img src="/img/node-dashboard.png"/><b>Node Dashboard, Now Available</b></p>
        <p> | {{.Params.dashboardMsg}}</p>
      </div>
      <div>
        <p>Learn More </p><p class="glyphicon glyphicon-chevron-down"></p>
      </div>
    </div>
    <div class="container no-spacing">
      <div class="row text-center">
        <div class="spacer50"></div>
        <div class="col-sm-12 txt-white">
          <p class="sno-hero-heading">{{.Params.heading}}</p>
          <div class="col-sm-12 no-spacing txt-white">
            <p class="sno-hero-sub-heading">{{.Params.subHeading}}</p>
            <div class="spacer20"></div>
            <div class="col-sm-12">
              <a href="#learnMore-sno" style="text-decoration: none">
                <p class="mt-5 home-hero-cta">
                  {{.Params.ctaText}}
                </p>
                <p style="font-size:12px;color:white" class="glyphicon glyphicon-chevron-down"></p>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer20"></div>
      <div class="row text-center">
        <div class="col-xs-10 col-xs-offset-1">
          <img class="img-responsive" src="/img/storj-sno-cli-gui-alt2.png" alt="storage-node-operator">
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="container-fluid sno-bg visible-xs visible-sm text-center" style="overflow: hidden;padding:0px;margin:0px;max-height: 714px;">
      <div class="container" style="padding-left:5px;">
      <section style="padding:0px;margin:0px;">
        <nav class="navbar navbar-default menu ">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false" style="margin-right:0px;">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="/" class="navbar-brand">
                <img src="/img/new-white-logo.svg" alt="Storj" class="logo">
              </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    {{range where .Site.Pages ".Params.class" "navitem"}}
                    <li><a class="link-style" href="{{ .Params.link }}">{{ .Title }}</a><div class="visible-lg-inline-block" style="width:20px;display:inline-block"></div></li>
                    {{end}}
                    <a href="/sign-up-node-operator/"><button class="btn btn-primary nav-join" style="background:transparent;">Join the Waitlist</button></a></li>
              </ul>
            </div>
          </div>
        </nav>
      </section>
      <div class="jumbotron dashboard-message">
        <div><p><img src="/img/node-dashboard.png"/><b>Node Dashboard, Now Available</b></p>
        </div>
        <div>
          <a href="#learnMore-sno"><p>Learn More </p></a><p class="glyphicon glyphicon-chevron-down"></p>
        </div>
      </div>
      <div class="spacer50"></div>
      <div class="container no-spacing">
          <div class="row text-center nav-heading">
            <div class="spacer100"></div>
            <div class="col-xs-12 txt-white">
              <p class="sno-hero-heading">{{.Params.heading}}</p>
              <div class="col-xs-12 no-spacing txt-white">
                <p class="sno-hero-sub-heading">{{.Params.subHeading}}</p>
                <div class="spacer45"></div>
                <div class="col-sm-12">
                  <a href="#learnMore-sno" style="text-decoration: none">
                    <p class="mt-5 home-hero-cta">
                      {{.Params.ctaText}}
                    </p>
                    <p style="font-size:12px;color:white" class="glyphicon glyphicon-chevron-down"></p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="spacer30"></div>
          <div class="row text-center">
            <div class="col-xs-10 col-xs-offset-1">
              <img class="img-responsive" src="/img/storj-sno-cli-gui-alt2.png" alt="storage-node-operator">
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
  </div>
  {{end}}
