<div class="container ss-bg">
    <a  name="learnMore-sno"></a>
    <div class="spacer140"></div>
    <div class="row">
      <div class="col text-center mt-5">
        <h1 class="start-sharing-header">Start Sharing. Start Earning.</h1>
      </div>
    </div>
    <div class="spacer100"></div>
    <div class="row text-center">
    {{ range where .Site.Pages ".Params.class" "snoBox" }}
      <div class="col-md-4 col-xs-12">
          <img alt="{{.Params.alt}}" src="{{.Params.img}}" width="50" height="50">
          <div class="spacer20"></div>
          <p class="sno-start-sharing-heading">{{.Params.heading}}</p>
          <p class="sno-desc">{{.Description}}</p>
      </div>
    {{end}}
    </div>
    <div class="spacer80"></div>
    <div class="row text-center">
      <a href="https://registration.storj.io/" class="btn btn-primary">Sign Up Now <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  <div class="spacer140"></div>
  </div>
</div>
