<div class="np-bg">
  <div class="container">
    <div class="row">
      {{ with .Site.GetPage "nodePerformance"}}
      <div class="col-md-4 col-xs-12">
        <div class="spacer200"></div>
          <p class="sno-heading">{{.Params.heading}}</p>
          <p class="sno-desc">{{.Params.subheading}}</p>
        <div class="spacer30"></div>
        <a href="https://registration.storj.io/" class="btn btn-primary≈">{{.Params.linkname}} <span class="glyphicon glyphicon-chevron-right"></span></a>
        <div class="spacer200"></div>
      </div>
      {{end}}
      <img alt="Node Performance" class="np-bg col-md-8 col-xs-12" src="/img/np-bg.png">
      </div>
    </div>

  </div>
</div>
