{{ define "main" }}

    <div class="spacer45"></div>
<!--{{ partial "backToBlogSingle" . }}-->
    <div class="spacer45"></div>

   <div class="container">
        <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 blog-main">

                        <header>
                    <h2 class="blog-post-title">
                        <a style="font-family: Montserrat;	font-size: 30px;	font-weight: 600;	line-height: 40px;"class="text-dark" href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
                     </h2>
                        {{ partial "post-date" . }}
                        </header>

                    <div class="spacer45"></div>

        <article class="blog-post">
                    <div class="row">
                        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                            {{ if isset .Params "image" }}
                <img class="img-responsive" src="{{ .Params.image }}" style="width:98%;"/>
                                {{ end }}
                        <div class="spacer15"></div>
                        </div>
    </br>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color: #333333;	font-family: Montserrat;font-size: 16px;line-height: 34px;padding-right:45px;">
                    {{ .Content }}
                </div>
                    </div>

                        </article>


<!--disqus-->
<div class="spacer50"></div>
        <div id="disqus_thread">
            <script>
                (function() {
                    var d = document, s = d.createElement('script');
                        s.src = 'https://storjblog.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                        })();
                        </script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <div class="spacer15"></div>
        </div>
        <div class="spacer35"></div>
<!--end-->
</div>
{{ partial "sidebar2" .}}
</div>
{{ end }}
