<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head" .}}
  </head>
  <body class="sign-up-node-operator requirements">
    {{partial "googletag" .}}
    <!-- nav -->
    {{ partial "sign-up-node-operator/nav" .}}
    <!-- form -->
    <div class="signup-node-container">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 signup-node-form">
            {{ partial "sign-up-node-operator-form/progress-bar" .}}
            <div class="form-container requirement-form-container">
                {{ partial "sign-up-node-operator-form/form" .}}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ partial "sign-up-node-operator/footer" .}}
    {{partial "scripts" .}}
  </body>
</html>

<!-- moved here instead of form for height addition logic for error msg -->
<script type="text/javascript">
    var onsubmit = function(event) {
        event.preventDefault();
        var inputs = event.target.getElementsByTagName("input");
        var errElm = document.getElementById("signup-node-form-err-msg-container");
        var result = {
            "processor": false,
            "diskSpace": false,
            "availableBandwidth": false,
            "upstreamBandwidth": false,
            "downloadBandwidth": false,
            "downtime": false
        };

        for (input of inputs) {
            if (input.type === "submit") {
                continue;
            }
            if (!input.checked) {
                // display error message
                errElm.setAttribute("class", "row");
                var formBody = document.querySelector('.requirements');
                // height needs to be added to accomodate large err msg
                formBody.classList.add("addHeight")
                return;
            }
            result[input.name] = input.value == "on";
        }
        errElm.setAttribute("class", "row invisible");
        analytics.identify(analytics.user().anonymousId(), {sno_register_page_visited: true});
        window.location.href = "https://storj.io/sign-up-node-operator-email";
      }
</script>
