<!DOCTYPE html>
<html lang="en">
<head>
{{partial "head" .}}
</head>
  <body class="page">
{{partial "home/Banner" .}}
{{partial "partners/heroNav" .}}
{{with .Site.GetPage "storj-share-terms.md"}}
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h1 class="title">{{.Title}}</h1>
            <p class="text-center">Effective Date: {{.Params.effectiveDate}}</p>
            <div class="spacer50"></div>
          </div>
        </div>
        {{.Content}}
{{end}}
{{partial "footer" .}}
{{partial "scripts" .}}
  </body>
</html>
