<div class="container-fluid" style="background-color: #F2F4F6;">
  <div class="spacer30"></div>
  <section class="section">
    <div class="container">
      <div class="row text-center">
{{ range where .Site.Pages ".Params.class" "devBox" }}
<div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-1">
    <div class="panel panel-card">
        <img src="{{.Params.img}}" alt="Add Ideas" width="100" height="70">
        <h2 style="color:black;">{{.Params.heading}}</h2>
        <div class="visible-md spacer30"></div>
        <p style="color: rgba(0,0,0,0.8);">{{.Description}}</p>
        <div class="spacer10"></div>
        <div class="spacer30 visible-md"></div>
        <a href="{{.Params.ctaLink}}" class="btn btn-block">{{.Params.ctaText}}</a>
  </div> 
</div>
  {{end}}
</div>
</div>
</section>
</div>