<!DOCTYPE html>
<html lang="en">
  <head>
    {{partial "head" .}}
  </head>
  <body class="page">
    {{partial "googletag" .}}
    <section class="header-blue">
      {{partial "navbar" .}}
      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 text-center">
              <h1 class="title">Storage Service Level Commitment</h1>
              <p class="text-center">Last Updated: {{ .Params.lastUpdated }}</p>
              <div class="spacer50"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {{ with .Site.GetPage "sla" }}
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-push-2">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
    {{ end }}
    {{partial "footer" .}}
    {{partial "scripts" .}}
  </body>
</html>
