<!DOCTYPE html>
<html lang="en">
  <head>
    {{partial "head" .}}
  </head>

  <body class="page">
      {{partial "googletag" .}}
      {{partial "home/Banner" .}}

      <section class="header-blue">
        {{partial "navbar" .}}

        <div class="section">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-8 col-md-push-2 text-center">
                <h1 class="title">Sorry, Not Found</h1>
                <div class="spacer20"></div>
                <a href="/" class="btn">Back to the Homepage</a>
                <div class="spacer40"></div>
              </div>
            </div>
          </div>
        </div>

      </section>

  {{partial "footer" .}}
  {{partial "scripts" .}}
  </body>
</html>
