<!DOCTYPE html>
<html lang="en">
{{partial "head" .}}
</head>
<body class="page">
  {{partial "partners/heroNav" .}}
  <section class="section">
    {{partial "partners/header" .}}
    {{partial "partners/logos" .}}
    {{partial "partners/benefitSelector" .}}  
    <div class="spacer35"></div>
    {{partial "partners/tabContent" .}}
    {{partial "partners/benefits" .}}
    </div>
    <div class="spacer45"></div>
    <div class="spacer10"></div>
    {{partial "partners/boxes" .}}
    <div class="spacer45"></div>
  </section>
  <div class="spacer45"></div>
  <div class="spacer45"></div>
  {{partial "footer" .}}
  {{partial "scripts" .}}
</body>
</html>
