<!DOCTYPE html>
<html lang="en">
{{partial "head" .}}
</head>

<body class="page">

{{partial "partners/heroNav" .}}

<section class="section">

{{partial "partners/header" .}}

        <div class="container-fluid" >

            <div class="spacer25"></div>

            {{partial "partners/1stSetLogos" .}}
            {{partial "partners/2ndSetLogos" .}}

          <div class="spacer25"></div>

        </div>


          <div class="spacer45"></div>

        <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                  <div class="spacer30"></div>

                <h2 style="font-size: 36px;	font-weight: 800;	line-height: 39px;text-align:center;">Benefits for our <br class="visible-xs"> Open-Source <br class="visible-xs">Partners:</h2>

              </div>
            </div>  
    
                  <div class="spacer35"></div>

                  {{partial "partners/benefitSelector" .}}  

                  <div class="spacer35"></div>

                  {{partial "partners/tabContent" .}}

          <div class="container-fluid">
            <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
            
                <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                          <div class="spacer45"></div>
                          <div class="spacer45"></div>
                        <h1 style="font-size:30px;text-align: center;">Why Your End-Users Will Love Us:</h1>
                      </div>  
                </div>
      <!--not restarted start-->
          <div class="row">
   
                          <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12  text-center" style="padding:50px;">

                          <div class="value-icon">
                          <img src="/img/icon-safe.svg" alt="Open-Source Software" class="icon-opensource">
                          </div>

                          <h4 class="team-member-name" style="color:#333333;">Secure & Private</h4>
                          <p class="team-member-title" style="font-size: 14px;">End-to-end encryption lets only the file owners access and see their data.</p>
                          </div>


                          <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 text-center" style="padding:50px;">

                          <div class="value-icon">
                          <img src="/img/icon-cost.svg" alt="Open-Source Software" class="icon-opensource">
                          </div>

                          <h4 class="team-member-name" style="color:#333333;">Affordable</h4>
                          <p class="team-member-title" style="font-size: 14px;">Without needing to operate any data centers, our costs are 1/3 the price of centralized cloud storage providers.</p>
                          </div>


                          <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 text-center" style="padding:50px;">

                          <div class="value-icon">
                          <img src="/img/icon-fast.svg" alt="Open-Source Software" class="icon-opensource">
                          </div>

                          <h4 class="team-member-name" style="color:#333333;">Performant</h4>
                          <p class="team-member-title" style="font-size: 14px;">Segmented and distributed files allow for multi-threaded concurrent downloads.</p>
                          </div>
              </div>

                  <div class="row">

                                  <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 text-center" style="padding:50px;">
                                  <div class="value-icon">
                                  <img src="/img/icon-capacity.svg" alt="Open-Source Software" class="icon-opensource">
                                  </div>
                                  <h4 class="team-member-name" style="color:#333333;">Resilient</h4>
                                  <p class="team-member-title" style="font-size: 14px;">Erasure encoded, globally distributed files deliver more reliability than centralized storage.</p>
                                  </div>

                                  <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 text-center" style="padding:50px;">
                                  <div class="value-icon">
                                  <img src="/img/icon-oneclickstart.svg" alt="Open-Source Software" class="icon-opensource">
                                  </div>
                                  <h4 class="team-member-name" style="color:#333333;">Easy To Use</h4>
                                  <p class="team-member-title" style="font-size: 14px;">S3 compatible gateway allows a familiar, drop-in replacement API.</p>
                                  </div>

                                  <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 text-center" style="padding:50px;">
                                  <div class="value-icon">
                                  <img src="/img/icon-opensource.svg" alt="Open-Source Software" class="icon-opensource">
                                  </div>
                                  <h4 class="team-member-name" style="color:#333333;">Open-Source</h4>
                                  <p class="team-member-title" style="font-size: 14px;">All components are open source, auditable, licensed with AGPL and Apache Commons licenses. Check us out on Github.</p>
                                  </div>
                  </div>
                </div>
              <!--not restarted end-->
</div>
 <div class="spacer45"></div>
 <div class="spacer10"></div>
    <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
          <a name="partnersection"></a>

          <div class="spacer45"></div>

          <div id="open-source-partner" class="panel-simple panel-card-simple">
          <h3>Open-Source Partners</h3>

          <div class="spacer10"></div>

          <p style="font-size:12pt;max-width: 1000px;">Storj actively works with our partners to create and build sustainable revenue streams to support their open-source projects.  The Open-Source Partner Program takes your referred users who have integrated a partner-specific connector, and then shares revenue for any data and bandwidth that user is billed for.  This program is a perfect fit for open-source applications that have a need for embedded storage but rely on end users to procure third-party cloud storage can receive revenue sharing.</p>

          <div class="spacer45"></div>

          <div class="row">
          <a style="margin-left:14px;" class="btn typeform-share button" href="https://storjsupport.typeform.com/to/tmhbhU" data-mode="popup" data-hide-footer=true target="_blank">TALK WITH US</a>
          <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
          </div>

          </div>
    </div>
  </div>

  <div class="spacer45"></div>


    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1" >

          <div id="technology-partner" class="panel-simple panel-card-simple">
          <h3>Technology Partners</h3>

          <div class="spacer10"></div>

          <p style="font-size:12pt;max-width: 1000px;">Storj strives to reward companies that drive demand and value on our network and is a great fit as a storage-layer integrated into your product, or a white-labelled product built on-top of our storage network. Additionally is perfect for any companies interested in a Value Added Reseller or Systems Integrator relationship.  Storj offers wholesale pricing with tiered discounts based on total storage and bandwidth use.</p>

          <div class="spacer20"></div>
          <div class="spacer20"></div>

          <div class="row">
          <a style="margin-left:14px;" class="btn typeform-share button" href="https://storjsupport.typeform.com/to/vmoI3d" data-mode="popup" data-hide-footer=true target="_blank">TALK WITH US</a>
          <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
         </div>

        </div>
      </div>
  <div class="spacer45"></div>
</section>
<div class="spacer45"></div>
<div class="spacer45"></div>

{{partial "footer" .}}
{{partial "scripts" .}}

  </body>
</html>
