<!DOCTYPE html>
<html lang="en">
<head>
{{partial "head" .}}
</head>
  <body class="page">
    <div class="container-fluid community-bg visible-sm visible-md visible-lg" style="overflow: hidden;padding:0px;margin:0px;">
      <div class="container">
  <section style="padding:0px;margin:0px;">
    {{partial "community/heroNav" .}}
    <div class="container-fluid" style="background-color: #F2F4F6;">
      <section class="section">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-6 col-md-push-3 text-center">
            <h1 style="color:black;">Learn About Storj</h1>
            <div class="spacer45"></div>
          </div>
        </div>
        <div class="row text-center">
            {{partial "community/main" .}}
        </div>
      </div>
    </div>
  </section>
  </div>
{{partial "community/connectWithUs" .}}
{{partial "community/newsLetter" .}}
{{partial "footer" .}}
{{partial "scripts" .}}
  </body>
</html>
