<!DOCTYPE html>
<html lang="en">
  <head>
{{partial "head" .}}
</head>

  <body class="page">
<div class="container-fluid community-bg visible-sm visible-md visible-lg" style="overflow: hidden;padding:0px;margin:0px;">
  <div class="container">
  <section style="padding:0px;margin:0px;">

    {{partial "communityNav" .}}

  <div class="container-fluid" style="	background-color: #F2F4F6;">
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-push-3 text-center">
          <h1 style="color:black;">Learn About Storj</h1>
          <div class="spacer45"></div>
        </div>
      </div>
      <div class="row text-center">
          <div class="col-xs-12 col-sm-12 col-md-4">
              <div class="panel panel-card">
                <img src="/img/gitHelp.svg" alt="Getting Help" width="70" height="70">
                <h2 style="color:black;">Getting Help</h2>
                <p style="color: rgba(0,0,0,0.8);">Check out our support center and get help.</p>
                <div class="spacer10"></div>
                <a href="https://storjlabs.atlassian.net/servicedesk/customer/portals" class="btn btn-block">Get Help</a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="panel panel-card">
                  <img src="/img/tryV3.svg" alt="Add Ideas" width="100" height="70">
                  <h2 style="color:black;">V3 Alpha Testing</h2>
                  <p style="color: rgba(0,0,0,0.8);">Run a local test network on your infrastructure.</p>
                  <div class="spacer10"></div>
                  <a href="https://github.com/storj/docs/blob/master/test-network.md" class="btn btn-block">Learn More</a>
                </div>
              </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="panel panel-card">
              <img src="/img/subCode.svg" alt="Submit Code" width="70" height="70">
              <h2 style="color:black;">Submit Code</h2>
              <p style="color: rgba(0,0,0,0.8);">Submit pull requests on our public repository on GitHub.</p>
              <div class="spacer10"></div>
              <a href="https://github.com/Storj/storj" class="btn btn-block">Push Code</a>
            </div>
          </div>
      </div>
    </div>
  </section>
  </div>

  <section class="section visible-lg">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
            <h1 style="color:black;">Connect with Us</h1>
            <div class="spacer45"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">

          <div class="col-lg-2">
            <a href="https://storj.io/blog/" target="_blank" class="panel-link">
              <div class="panel panel-card">
                <img src="/img/icon-blog.svg" alt="The Storj Blog" height="40" width="40">
                <h4>Blog</h4>
              </div>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="https://www.reddit.com/r/Storj" target="_blank" class="panel-link">
              <div class="panel panel-card">
                <img src="/img/icon-reddit.svg" alt="Storj on Reddit" height="40" width="40">
                <h4>r/Storj</h4>
              </div>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="https://twitter.com/storjproject" target="_blank" class="panel-link">
              <div class="panel panel-card">
                <img src="/img/icon-twitter.svg" alt="Storj on Twitter" height="40" width="40">
                <h4>Twitter</h4>
              </div>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="https://www.facebook.com/storjproject" target="_blank" class="panel-link">
              <div class="panel panel-card">
                <img src="/img/icon-facebook.svg" alt="Storj on Facebook" height="40" width="40">
                <h4>Facebook</h4>
              </div>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="https://www.youtube.com/StorjLabs" target="_blank" class="panel-link">
              <div class="panel panel-card">
                <img src="/img/icon-youtube.svg" alt="Storj on Youtube" height="40" width="40">
                <h4>YouTube</h4>
              </div>
            </a>
          </div>
          <div class="col-lg-2">
              <a href="https://medium.com/@storjproject" target="_blank" class="panel-link">
                <div class="panel panel-card">
                  <img src="/img/icon-medium.svg" alt="Storj on Medium" height="40" width="40">
                  <h4>Medium</h4>
                </div>
              </a>
            </div>
        </div>
      </div>
    </section>

  <section class="section visible-xs visible-sm visible-md">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
          <h1 style="color:black;">Connect with Us</h1>
          <div class="spacer45"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-lg-offset-1 text-center">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <a href="https://storj.io/blog/" target="_blank" class="panel-link">
            <div class="panel panel-card">
              <img src="/img/icon-blog.svg" alt="The Storj Blog" height="40" width="40">
              <h4>Blog</h4>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <a href="https://www.reddit.com/r/Storj" target="_blank" class="panel-link">
            <div class="panel panel-card">
              <img src="/img/icon-reddit.svg" alt="Storj on Reddit" height="40" width="40">
              <h4>r/Storj</h4>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <a href="https://twitter.com/storjproject" target="_blank" class="panel-link">
            <div class="panel panel-card">
              <img src="/img/icon-twitter.svg" alt="Storj on Twitter" height="40" width="40">
              <h4>Twitter</h4>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <a href="https://www.facebook.com/storjproject" target="_blank" class="panel-link">
            <div class="panel panel-card">
              <img src="/img/icon-facebook.svg" alt="Storj on Facebook" height="40" width="40">
              <h4>Facebook</h4>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <a href="https://www.youtube.com/StorjLabs" target="_blank" class="panel-link">
            <div class="panel panel-card">
              <img src="/img/icon-youtube.svg" alt="Storj on Youtube" height="40" width="40">
              <h4>YouTube</h4>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <a href="https://medium.com/@storjproject" target="_blank" class="panel-link">
              <div class="panel panel-card">
                <img src="/img/icon-medium.svg" alt="Storj on Medium" height="40" width="40">
                <h4>Medium</h4>
              </div>
            </a>
          </div>
      </div>
    </div>
  </section>

<div class="container-fluid" style="	background-color: #F2F4F6;">
  <section class="section text-center">
      <h1 style="color:black;">Newsletter and Company Updates</h1>
      <div class="spacer45"></div>
    <div class="container">
      <div class="row text-center">
        <div class="col-xs-12 col-md-6 col-md-push-3">
            <div class="newsletter-inner" style="box-shadow: 0 2px 12px 0 rgba(0,0,0,0.09);">
              <img src="/img/nletter.svg" alt="Storj Newsletter" width="60">
              <div class="spacer20"></div>
              <div id="getStartedForm">
                <form action="https://storj.us8.list-manage.com/subscribe/post?u=edba9fc4ce8b9095a31859cba&amp;id=01f64923fa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                  <input type="email" value="" name="EMAIL" class="email" id="getStartedEmail" placeholder="example@email.com" spellcheck="false" required>
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_edba9fc4ce8b9095a31859cba_01f64923fa" tabindex="-1" value="">
                    <input type="text" id="group_2" name="group[11693][2]" value="">
                  </div>
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-block subscribe">
                </form>
              </div>
              <p class="promise">*We will never share, rent, or sell your email address to anyone, ever.</p>
              <div class="spacer20"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer20"></div>
  </section>
  </div>

{{partial "footer" .}}
{{partial "scripts" .}}

  </body>
</html>
