<div class="container-fluid reverse-wrap">
    <div class="spacer100"></div>
    <div class="row">
        <!-- <div class="col-md-6 about-us-img"></div> -->
				<div class="col-md-12 col-lg-5 about-us-img-wrapper">
					<div class="visible-xs visible-sm visible-md about-us-content-sm">
	            {{with .Site.GetPage "aboutus" }}
                <h1 class="careers-sec-heading">{{.Params.heading}}</h1>
                <p class="careers-about-us-subheading">{{.Params.subheading}}</p>
                <div class="spacer15"></div>
                <p class="careers-about-us-cta">{{.Params.cta}} &#x3e;</p>
	            {{end}}
	            <div class="spacer30"></div>
	        </div>
					<img class="about-us-img" src="../img/aboutus.png" />
				</div>
        <div class="col-md-12 col-lg-5 col-md-offset-1 visible-lg about-us-content">
        {{with .Site.GetPage "aboutus" }}
            <div class="spacer100"></div>
            <h1 class="careers-sec-heading">{{.Params.heading}}</h1>
            <p class="careers-about-us-subheading">{{.Params.subheading}}</p>
            <div class="spacer15"></div>
            <a href="{{.Params.ctaLink}}">
                <p class="careers-about-us-cta">{{.Params.cta}} &#x3e;</p>
            </a>
        {{end}}
        </div>
    </div>
