    <div class="container-fluid margin-less padding-less">
        <div class="spacer100"></div>
				{{with .Site.GetPage "diversity" }}
				<div class="spacer50"></div>
				<div class="spacer100 visible-md visible-lg"></div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                    <h1 class="careers-sec-heading">{{.Params.heading}}</h1>
                    <div class="spacer15"></div>
                    <p class="careers-diversity-subheading">{{.Params.subheading}}</p>
                    <div class="spacer15"></div>
                    <p class="careers-diversity-subheading">{{.Params.description}}</p>
                    <div class="spacer15"></div>
                    <a href="{{.Params.ctaLink}}">
                        <p class="careers-diversity-cta">{{.Params.cta}} &#x3e;</p>
                    </a>
            </div>
            <div class="col-sm-12 col-md-5 col-md-offset-0 col-lg-offset-1 diversity-img-wrapper">
							<img src="{{.Params.img}}" class="careers-diversity-img img-fluid" />
            </div>
        </div>
				{{end}}
    </div>
</div>
