<div class="section positions">
<div class="container">
    <div class="row">
        <div name="open-positions" class="col-xs-12 col-md-8 col-md-push-2 text-center">
						<a class="careers-sec-heading-wrapper" name="open-positions">
	            <h1 class="careers-sec-heading">Open Positions</h1>
						</a>
        </div>
    </div>
</div>
</div>
<div class="container">
	<div class="row row-centered">
    <div class="col-sm-12">
			<table class="careers-position-table">
				{{range where .Site.Pages ".Params.class" "position"}}
					<tr>
						<td class="careers-position-column careers-position-title"><a class="careers-position-link" target="_blank" rel="noopener noreferrer" href="{{.Params.link}}">{{.Params.title}}</a></td>
						<td class="careers-position-column">{{.Params.location}}</td>
						<td class="careers-position-column">{{.Params.postDate}}</td>
					</tr>
	      {{end}}
			</table>
    </div>
	</div>
</div>
