<div class="form complete-form">
  <div class="row">
    <div class="col-xs-5 col-sm-4">
        <img class="img-responsive sign-up-success-image" src="/img/storj-sno-signup-success.png" alt="sign-up-success">
    </div>
  </div>
  <div class="row">
    <div class="form-header col-xs-12">
      <h2 class="black-text">Check Your Email</h2>
    </div>
  </div>
  <div class="row">
    <div class="sub-header col-xs-12">
      <p class="lead">Your auth token should arrive shortly. Head over to our docs to get started setting up your Node.</p>
    </div>
  </div>
  <div class="sign-up-node-submit">
    <a href="https://documentation.storj.io" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-block">
        Storj Node Docs
    </a>
  </div>
</div>
