<div class="form complete-form">
    <div class="spacer25"></div>
    <div class="row">
        <div class="col-xs-3">
            <img class="img-responsive" src="/img/storj-sno-signup-success.png" alt="sign-up-success">
        </div>
    </div>
    <div class="row">
        <div class="form-header col-xs-12">
                <h1 class="black-text"> Check Your Email</h1>
        </div>
        </div>
    <div class="row">
        <div class="sub-header col-xs-12">
                <h2 class="light-black">Your auth token should arrive shortly. Head over to our docs to get started setting up your Node.</h2>
        </div>
    </div>
    <div class="sign-up-node-submit text-center">
        <a href="https://documentation.storj.io" target="_blank">
            Storj Node Docs
        </a>
    </div>
</div>
