<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head" .}}
  </head>
  <body>
    <!-- nav -->
    {{ partial "sign-up-node-operator/nav" .}}
    <!-- form -->
    <div class="signup-node-bg container-fluid signup-node-container">
      <div class="row">
        <div class="col-xs-12 storj-ecosystem-bg">
          <div class="col-xs-6 col-xs-offset-4 signup-node-form">
            {{ partial "sign-up-node-operator/form" .}}
          </div>
        </div>
      </div>

    </div>
  <div class="spacer35"></div>
  {{partial "scripts" .}}
  </body>
</html>
