<footer class="footer">

  <div class="container">

    <div class="row">

      <div class="col-xs-12 col-sm-3 col-md-3">
        <a href="/" class="footer-logo">
          <img src="/img/storj-white-logo.svg" alt="Storj.io" height="40" width="154">
        </a>
      </div>

      <div class="col-xs-6 col-sm-2">
        <h5 class="footer-col-heading">Legal</h5>
        <div class="spacer5"></div>
          {{ range where .Site.Pages ".Params.class" "firstcolfooter"}}
            <a class="footer-link" href="{{ .Params.link }}">{{ .Title }}</a><br>
          {{end}}
      </div>

      <div class="col-xs-6 col-sm-2">
        <h5 class="footer-col-heading">Resources</h5>
          <div class="spacer5"></div>
            {{ range where .Site.Pages ".Params.class" "secondcolfooter"}}
              <a class="footer-link" href="{{ .Params.link }}">{{ .Title }}</a><br>
            {{end}}
      </div>


      <div class="col-xs-6 col-sm-2">
        <h5 class="footer-col-heading">Connect</h5>
        <div class="spacer5"></div>
          {{ range where .Site.Pages ".Params.class" "fourthcolfooter"}}
          <a class="footer-link" href="{{ .Params.link }}">
            <img class="social-link" src="{{.Params.icon}}" alt="{{.Params.alt}}">
            {{ .Title }}</a><br>
            {{end}}
      </div>

      <div class="col-xs-6 col-sm-3 footer-signup">
        <h5 class="footer-col-heading stay-in-touch">Stay in Touch</h5>
        <div id="mc_embed_signup">
            <form method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" rel="noopener noreferrer" novalidate>
              <div id="mc_embed_signup_scroll">
                <label class="hidden" for="mce-EMAIL-newsletter">Email address</label>
                <input class="footer__email-input footer-em-input" type="email" value="" name="EMAIL" id="mce-EMAIL-newsletter" placeholder="Email Address" required="">
                <input class="footer__btn-submit btn-signup footer-sub" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe-footer">
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response-newsletter">The email address you provided is not valid!</div>
                  <div class="response" id="mce-success-response-newsletter">Thank you for subscribing!</div>
                </div>
            </form>
        </div>
      </div>

    </div>

  </div>

  <div class="d-flex row justify-content-center text-center">
    <div class="col-xs-12">
      <address>
          &copy; 2021 Storj Labs Inc. - 3423 Piedmont Road NE, Suite 475, Atlanta, Georgia, 30305, United States
      </address>
    </div>
  </div>

</footer>
{{partial "cookieConsent" .}}
