  <script src="/js/gtm.js"></script>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Decentralized cloud storage that is automatically encrypted, easily implemented, highly performant, exceptionally economical, and ridiculously resilient.">
  <meta name="keywords" content="storj, storj labs, distributed object storage, decentralized cloud storage, object storage, decentralized, storage, secure, private, encrypted">
  <meta name="google-site-verification" content="R5u7lqzFhKoFiaEXbxfFSJ-CT9UyK-AqVWwd1g_zMeg" />
  <meta name="google-site-verification" content="8CIKbV4JUhwtw7xNI7_A__vnmpvuGfs1g3QVOInBtxQ" />

  <title>Decentralized Cloud Storage — Storj</title>

	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Decentralized Cloud Storage — Storj"/>
	<meta property="og:description" content="Storj is the storage layer for the Internet. Decentralized cloud storage is a new paradigm that removes intermediaries, enabling you to control your personal data. Storj is open source, distributed, encrypted, and blazing fast object storage. Check out how Storj can help you keep your data safe and access it anywhere, anytime."/>
	<meta property="og:url" content="https://storj.io" />
	<meta property="og:site_name" content="Decentralized Cloud Storage — Storj" />
	<meta property="og:image" content="https://storj.io/img/storj-logo.jpg" />
	<meta name="twitter:card" content="summary"/>
	<meta name="twitter:title" content="Decentralized Cloud Storage — Storj"/>
	<meta name="twitter:description" content="Storj is the storage layer for the Internet. Decentralized cloud storage is a new paradigm that removes intermediaries, enabling you to control your personal data. Storj is open source, distributed, encrypted, and blazing fast object storage. Check out how Storj can help you keep your data safe and access it anywhere, anytime."/>
	<meta name="twitter:site" content="@storjproject"/>
	<meta name="twitter:image" content="https://storj.io/img/storj-logo.jpg"/>

	<link rel="shortcut icon" href="/img/favicon/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/img/favicon/favicon.ico" type="image/x-icon">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<meta name="go-import" content="storj.io/storj git https://github.com/storj/storj">
	<meta name="go-import" content="storj.io/common git https://github.com/storj/common">
	<meta name="go-import" content="storj.io/uplink git https://github.com/storj/uplink">
	<meta name="go-import" content="storj.io/gateway git https://github.com/storj/gateway">
	<meta name="go-import" content="storj.io/gateway-mt git https://github.com/storj/gateway-mt">
	<meta name="go-import" content="storj.io/uplink-c git https://github.com/storj/uplink-c">
	<meta name="go-import" content="storj.io/linksharing git https://github.com/storj/linksharing">
	<meta name="go-import" content="storj.io/private git https://github.com/storj/private">
	<meta name="go-import" content="storj.io/benchmark git https://github.com/storj/benchmark">
	<meta name="go-import" content="storj.io/dbx git https://github.com/storj/dbx">
	<meta name="go-import" content="storj.io/drpc git https://github.com/storj/drpc">
	<meta name="go-import" content="storj.io/minio git https://github.com/storj/minio">
	<meta name="go-import" content="storj.io/monkit-jaeger git https://github.com/storj/monkit-jaeger">
	<meta name="go-import" content="storj.io/velero-plugin git https://github.com/storj/velero-plugin">
	<meta name="go-import" content="storj.io/dotworld git https://github.com/storj/dotworld">
	<script src="/js/segment.js"></script>
	<script src="//rum-static.pingdom.net/pa-5c7947bd9a3f8300160008c5.js" async></script>
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700|Roboto:300,700" rel="stylesheet">
