{{with .Site.GetPage "page" "homeWhitePaper.md"}}
<div class="spacer45"></div>
<div style="margin:0 auto; width: 264px;border-radius: 4px;	background-color: rgba(89,160,255,0.2);"><p style="color: #59A0FF;	font-family: Montserrat;	font-size: 13px;	font-weight: 500;	line-height: 28px;"><span style="font-weight: 700;margin-right:10px;">{{.Params.announcement}}</p></div>
<div class="spacer15"></div>
        <h2 style="margin-top:-5px;">{{.Params.heading}}</h2>
        <div class="row">
          <div class=" col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            <p style="opacity: 0.7;color: #333333;font-size: 16px;	line-height: 28px;	text-align: center;">{{.Description}}</p>
          </div>
        </div>
        <div class="spacer20"></div>
        <a href="{{.Params.ctaLink}}" style="padding-left:20px;padding-right:20px;font-size:14px;" class="btn btn-lg">{{.Params.ctaText}}</a>
{{end}}
