<nav class="navbar navbar-default menu">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">
          <img src="/img/storj-white-logo.svg" alt="Storj logo in white" class="logo logo-white">
          <img src="/img/storj-blue-logo.svg" alt="Storj logo in blue" class="logo logo-blue">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav navbar-right">
            {{range where .Site.Pages ".Params.class" "navitem"}}
            <li><a class="link-style" href="{{ .Params.link }}">{{ .Title }}</a></li>
            {{end}}
            <li><a href="https://registration.storj.io/" class="pull-right-md nav-join-link"><button class="btn btn-primary nav-join" id="become-a-host-btn">Become a Host</button></a></li>
          </ul>
      </div>
    </div>
</nav>
