<script src="/js/jquery-2.1.1.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
    function hasConsented() {
        var name = "storj_cookie_consent=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return true;
            }
        }
        return false;
    }
    function checkConsent(){
        if(hasConsented()){
            closeBanner()
            return
        }
    }
    window.onload = checkConsent();
    function closeBanner(){
        document.cookie = "storj_cookie_consent=true;"
        var consentBanner = document.getElementById("consent-banner");
        consentBanner.style.display = "none";
        return
    }
</script>
<script type="text/javascript">
  window.onload = function() {

    var button = document.getElementById("mc-embedded-subscribe-footer")

    button.onclick = function (event) {

      event.preventDefault()

      var inputValue = document.getElementById("mce-EMAIL-newsletter").value.toLowerCase().trim()
      var errElm = document.getElementById("mce-error-response-newsletter");
      var succElm = document.getElementById("mce-success-response-newsletter");

      if (!inputValue || inputValue.length < 0 || !inputValue.includes("@")) {
        if(succElm) {
          succElm.setAttribute("style", "display:none;");
        }
        if(errElm) {
          errElm.setAttribute("style", "display:flex;");
        }
        return;
      } else {
        analytics.identify(inputValue, {email: inputValue, storj_newsletter: true}, {}, function() {
          analytics.track("storj_newsletter", {});
          if(errElm) {
            errElm.setAttribute("style", "display:none;");
          }
          if(succElm) {
            succElm.setAttribute("style", "display:flex;");
          }
        });
      }
    }
  }
</script>
