<script src="/js/jquery-2.1.1.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
    function hasConsented() {
        var name = "storj_cookie_consent=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return true;
            }
        }
        return false;
    }
    function checkConsent(){
        if(hasConsented()){
            closeBanner()
            return
        }
    }
    window.onload = checkConsent();
    function closeBanner(){
        document.cookie = "storj_cookie_consent=true;"
        var consentBanner = document.getElementById("consent-banner");
        consentBanner.style.display = "none";
        return
    }
</script>