<div class="container-fluid">
        <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
            <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="spacer45"></div>
                      <div class="spacer45"></div>
                    <h1 style="font-size:30px;text-align: center;">Why Your End-Users Will Love Us:</h1>
                  </div>  
            </div>

<div class="row">
   {{ range where .Site.Pages ".Params.class" "1stSetBenefits"}}
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12  text-center" style="padding:50px;">

    <div class="value-icon">
    <img src="{{.Params.img}}" alt="Open-Source Software" class="icon-opensource">
    </div>

    <h4 class="team-member-name" style="color:#333333;">{{.Params.heading}}</h4>
    <p class="team-member-title" style="font-size: 14px;">{{.Description}}</p>
    </div>
    {{end}}
</div>

<div class="row">
    {{ range where .Site.Pages ".Params.class" "2ndSetBenefits"}}
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 text-center" style="padding:50px;">
            <div class="value-icon">
            <img src="{{.Params.img}}" alt="Open-Source Software" class="icon-opensource">
            </div>
            <h4 class="team-member-name" style="color:#333333;">{{.Params.heading}}</h4>
            <p class="team-member-title" style="font-size: 14px;">{{.Description}}</p>
        </div>
        {{end}}
    </div>
</div>