<div class="container">
  <div class="row">
      {{range where .Site.Pages ".Params.class" "prtnrBox"}}
        <div class="col-xs-12 col-md-10 col-md-push-1">

          <a name="partnersection"></a>

          <div class="spacer45"></div>

          <div id="open-source-partner" class="panel-simple panel-card-simple">

            <h2>{{.Params.heading}}</h2>

            <div class="spacer10"></div>

            <p>{{.Description}}</p>

            <div class="spacer45"></div>

            <a class="btn typeform-share button" href="{{.Params.ctaLink}}" data-mode="popup" data-hide-footer=true target="_blank" rel="noopener noreferrer">{{.Params.ctaText}}</a>
                    {{.Content}}

          </div>

        </div>
      {{end}}
  </div>
</div>
<div class="spacer100"></div>
