<section class="section">
{{ with .Site.GetPage "page" "prtnrHeader.md"}}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
            <h1 class="title" style="font-size:38px;margin-bottom:-15px;">{{.Params.heading}}</h1>

            <div class="row">
                {{.Content}}

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a class="btn button" href="{{.Params.ctaLink}}" data-mode="popup" data-hide-footer=true target="_blank">{{.Params.ctaText}}</a>
                </div>
            </div>
    
                </div>
           </div>
        </div>
    </div>
</div>
{{end}}