{{ with .Site.GetPage "page" "prtnrHeader.md"}}
<div class="section text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">
          <h1>{{.Params.heading}}</h1>
       </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">
        <div class="subheading">
          <p>We are passionate about supporting, building, and using
          <a href='/open-source/'>open source</a> software. Our Open Source Partnership Program brings secure, reliable and performant decentralized cloud storage to the open-source community.</p>
          <div class='spacer20'></div>
          <p>In addition to sharing revenue, we share all the necessary tools, components and connectors needed to incorporate decentralized cloud storage into your platform. Easy and effortless.</p>
          <div class='spacer20'></div>
        </div>
      </div>
     </div>
     <div class="row">
       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
           <a class="btn button" href="{{.Params.ctaLink}}">{{.Params.ctaText}}</a>
       </div>
     </div>
   </div>
</div>
{{end}}
