<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
      {{ range where .Site.Pages ".Params.class" "1stSetLogos"}}
      <img height="{{.Params.height}}" width="{{.Params.width}}" src="{{.Params.img}}" class="partner-logos"/>
      {{end}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1 text-center">
    {{ range where .Site.Pages ".Params.class" "2ndSetLogos"}}
    <img height="{{.Params.height}}" width="{{.Params.width}}" src="{{.Params.img}}" class="partner-logos"/>
    {{end}}
  </div>
</div>
