<div class="container-fluid" >
        <div class="spacer25"></div>

<div class="row" style="padding:0px;">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" style="padding:0px;">
                {{ range where .Site.Pages ".Params.class" "1stSetLogos"}}
                <img style="{{.Params.height}};{{.Params.width}};{{.Params.margin}};" src="{{.Params.img}}"/>
                {{end}}
          </div>
</div>
<div class="row" style="padding:0px;">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1 text-center" style="padding:0px;">
                {{ range where .Site.Pages ".Params.class" "2ndSetLogos"}}
                <img style="{{.Params.height}};{{.Params.width}};{{.Params.margin}};" src="{{.Params.img}}"/>
                {{end}}
        </div>
</div>