<div class="row">
        <div class="col-xs-12 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-1 col-lg-8 col-lg-offset-2">

             <div class="tab-content">

               <div class="tab-pane active" id="value1">
                  <div class="row">

                      <div class="visible-sm visible-md visible-lg col-xs-12 col-sm-12 col-md-10 col-lg-12 panel-card-partners">
                        {{ with .Site.GetPage "page" "tab1"}}
                        <div class="col-sm-2 col-md-1">
                          <img src="{{.Params.img}}" height="125vw" width="125vw" >
                        </div>

                          <div class="col-md-9 col-md-offset-1 col-sm-8 col-sm-offset-2 ">
                          <h3 >{{.Params.heading}}</h3>
                          <div class="spacer15"></div>
                          <p >{{.Description}}</p>
                          </div>


                       </div>

                       <div class="visible-xs col-xs-12 col-sm-12 col-md-10 col-lg-12 panel-card-partners">

                          <div class="col-xs-12 col-xs-offset-0 col-md-1 col-sm-2 ">
                            <img src="{{.Params.img}}" height="125vw" width="125vw">
                          </div>

                            <div class="col-xs-12 col-xs-offset-0 col-md-9 col-md-offset-1 col-sm-8 col-sm-offset-2 ">
                            <h3>Revenue Sharing</h3>
                            <div class="spacer15"></div>
                            <p>Open-source projects that incorporate Storj as a cloud storage option for their community can take advantage of our revenue sharing model. For every dollar Storj earns, we will share 10% with the referring open-source partner.</p>
                            </div>
                            {{end}}
                         </div>
                    </div>
                 </div>



               <div class="tab-pane" id="value2">
                  <div class="row">
                      <div class="visible-sm visible-md visible-lg col-xs-12 col-sm-12 col-md-10 col-lg-12 panel-card-partners">
                        {{ with .Site.GetPage "page" "tab2"}}
                          <div class="col-md-1 col-sm-2 ">
                          <img src="{{.Params.img}}" height="125vw" width="125vw">
                          </div>

                          <div class="col-md-9 col-md-offset-1 col-sm-8 col-sm-offset-2" >
                          <h3>{{.Params.heading}}</h3>
                          <div class="spacer15"></div>
                          {{.Content}}
                          </div>
                         </div>

                         <div class="visible-xs col-xs-12 col-sm-12 col-md-10 col-lg-12 panel-card-partners">

                            <div class="col-md-1 col-sm-2 ">
                            <img src="{{.Params.img}}" height="125vw" width="125vw">
                            </div>

                            <div class="col-xs-12 col-xs-offset-0 col-md-9 col-md-offset-1 col-sm-8 col-sm-offset-2" >
                            <h3>{{.Params.heading}}</h3>
                            <div class="spacer15"></div>
                            {{.Content}}
                            {{end}}
                          </div>
                           </div>

                     </div>
                </div>

               <div class="tab-pane" id="value3">
                <div class="row">
                      <div class="visible-sm visible-md visible-lg col-xs-12 col-sm-12 col-md-10 col-lg-12 panel-card-partners">
                        {{ with .Site.GetPage "page" "tab3"}}
                          <div class="col-md-1 col-sm-2 ">
                          <img src="{{.Params.img}}" height="110vw" width="110vw" >
                          </div>

                           <div class="col-md-9 col-md-offset-1 col-sm-8 col-sm-offset-2">
                           <h3>{{.Params.heading}}</h3>
                           <div class="spacer15"></div>
                           <p >{{.Description}}</p>
                           </div>

                          </div>

                          <div class="visible-xs col-xs-12 col-sm-12 col-md-10 col-lg-12 panel-card-partners">

                              <div class="col-md-1 col-sm-2 ">
                              <img src="{{.Params.img}}" height="110vw" width="110vw">
                              </div>

                               <div class="col-xs-12 col-xs-offset-0 col-md-9 col-md-offset-1 col-sm-8 col-sm-offset-2">
                               <h3>{{.Params.heading}}</h3>
                               <div class="spacer15"></div>
                               <p>{{.Description}}</p>
                               </div>
                               {{end}}
                              </div>

                      </div>
                   </div>

               <div class="tab-pane" id="value4">
                <div class="row">
                      <div class="visible-sm visible-md visible-lg col-xs-12 col-sm-12 col-md-10 col-lg-12 panel-card-partners">
                        {{ with .Site.GetPage "page" "tab4"}}
                          <div class="col-md-1 col-sm-2">
                          <img src="{{.Params.img}}" height="115vw" width="115vw">
                          </div>

                          <div class="col-md-9 col-md-offset-1 col-sm-8 col-sm-offset-2">
                          <h3>{{.Params.heading}}</h3>
                          <div class="spacer15"></div>
                          <p>{{.Description}}</p>
                          </div>
                    </div>

                    <div class="visible-xs col-xs-12 col-sm-12 col-md-10 col-lg-12 panel-card-partners">

                        <div class="col-md-1 col-sm-2">
                        <img src="{{.Params.img}}" height="115vw" width="115vw">
                        </div>

                        <div class="col-xs-12 col-xs-offset-0 col-md-9 col-md-offset-1 col-sm-8 col-sm-offset-2">
                        <h3>{{.Params.heading}}</h3>
                        <div class="spacer15"></div>
                        <p>{{.Description}}</p>
                        {{end}}
                        </div>
                  </div>

                </div>
            </div>

            </div>
          </div>
          </div>
          <div class="spacer100"></div>
