<div class="container">

<div class="spacer45"></div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <div class="spacer30"></div>
        <h2>Benefits for our <br class="visible-xs"> Open-Source <br class="visible-xs">Partners:</h2>
    </div>
</div>

<div class="spacer35"></div>

    <div class="row">
       <div class="navbar col-xs-12 col-lg-10 col-lg-offset-1">
           <ul class="nav nav-pills nav-justified text-center">
              <li class="active team-selector" ><a id="val1"  class="team-selector-link" href="#value1" data-toggle="tab">Revenue Sharing</a></li>
              <li class="team-selector"><a id="val2"  class="team-selector-link" href="#value2" data-toggle="tab">Open Source</a></li>
              <li class="team-selector"><a id="val3"  class="team-selector-link" href="#value3" data-toggle="tab">Platform Support</a></li>
              <li class="team-selector"><a id="val4"  class="team-selector-link" href="#value4" data-toggle="tab">Joint Marketing</a></li>
           </ul>
        </div>
    </div>
</div>
