<div class="spacer25"></div>
</div>
<div class="spacer45"></div>
<div class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="spacer30"></div>
        <h2 style="font-size: 36px;	font-weight: 800;	line-height: 39px;text-align:center;">Benefits for our <br class="visible-xs"> Open-Source <br class="visible-xs">Partners:</h2>
      </div>
    </div>  

<div class="spacer35"></div>

<div class="container-fluid" style="margin:0px;padding:0px;">
        <div class="row" style="margin:0px;padding:0px;">
               <div class="navbar col-xs-12 col-lg-10 col-lg-offset-1" style="padding:0px;">
                     <ul class="nav nav-pills nav-justified text-center" style="padding:0px;">
                        <li class="active" ><a id="val1" href="#value1" data-toggle="tab" style="margin:15px;border-radius:4px;font-weight:600;padding-left:10px;padding-right:10px;padding-top:15px;padding-bottom:15px;">Revenue Sharing</a></li>
                        <li><a id="val2" href="#value2" data-toggle="tab" style="margin:15px;border-radius:4px;font-weight:600;padding-left:0px;padding-right:0px;padding-top:15px;padding-bottom:15px;">Open Source</a></li>
                        <li><a id="val3" href="#value3" data-toggle="tab" style="margin:15px;border-radius:4px;font-weight:600;padding-left:10px;padding-right:10px;padding-top:15px;padding-bottom:15px;">Platform Support</a></li>
                        <li><a id="val4" href="#value4" data-toggle="tab" style="margin:15px;border-radius:4px;font-weight:600;padding-left:0px;padding-right:0px;padding-top:15px;padding-bottom:15px;">Joint Marketing</a></li>
                        <li><a id="val5" href="#value5" data-toggle="tab" style="margin:15px;border-radius:4px;font-weight:600;padding-left:5px;padding-right:5px;padding-top:15px;padding-bottom:15px;">Early Access</a></li>
                     </ul>
                </div>
        </div>
</div>