<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head" .}}
  </head>
  <body class="sign-up-node-operator complete">
    {{partial "googletag" .}}
    <!-- nav -->
    {{ partial "sign-up-node-operator/nav" .}}
    <!-- form -->
    <div class="signup-node-container">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 signup-node-form">
            {{ partial "sign-up-node-operator-complete/progress-bar" .}}
            <div class="form-container complete-form-container">
                {{ partial "sign-up-node-operator-complete/form" .}}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ partial "sign-up-node-operator/footer" .}}
    {{partial "scripts" .}}
  </body>
</html>
