<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head" .}}
  </head>
  <body class="sign-up-node-operator complete">
    <!-- nav -->
    {{ partial "sign-up-node-operator-complete/nav" .}}
    <!-- form -->
    <div class="signup-node-bg container-fluid signup-node-container">
      <div class="row">
        <div class="col-xs-12 storj-ecosystem-bg">
          <div class="col-md-6 col-md-offset-4 col-lg-6 col-lg-offset-6 signup-node-form">
            <div class="spacer50"></div>
            {{ partial "sign-up-node-operator-complete/progress-bar" .}}
            <div class="arrow-up ml-515"></div>
            <div class="form-container complete-form-container">
                {{ partial "sign-up-node-operator-complete/form" .}}
                <div class="spacer50"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ partial "sign-up-node-operator-complete/footer" .}}
  {{partial "scripts" .}}
  </body>
</html>
