<!DOCTYPE html>
  <html lang="en">
  <head>
    {{partial "head" .}}
  </head>
<body class="home">
  {{partial "home/Banner" .}}
<section class="header header-bg" style="height:100%;">
  <div class="careers-header-bg"></div>
  {{partial "home/navbar" .}}
  {{partial "careers/hero" .}}
</section>

  {{partial "careers/aboutus" .}}
  {{partial "careers/diversity" .}}
  {{partial "careers/benefits" .}}
  {{partial "careers/locations" .}}
  {{partial "careers/positions" .}}

  <div class="spacer100"></div>

  {{partial "footer" .}}
  {{partial "scripts" .}}
  {{partial "careers/green-house-script" .}}
  </body>
</html>
