<!DOCTYPE html>
  <html lang="en">
  <head>
    {{partial "head" .}}
  </head>
<body class="home">
  {{partial "googletag" .}}
  <section class="header header-bg">
  <div class="careers-header-bg"></div>
    {{partial "navbar" .}}
    {{partial "careers/hero" .}}
  </section>

  {{partial "careers/aboutus" .}}
  {{partial "careers/diversity" .}}
  {{partial "careers/benefits" .}}
  {{partial "careers/locations" .}}
  {{partial "careers/positions" .}}

  <div class="spacer100"></div>

  {{partial "footer" .}}
  {{partial "scripts" .}}
  </body>
</html>
