<!DOCTYPE html>
<html lang="en">
    <head>
      {{partial "head" .}}
    </head>
  <body class="page">
  {{partial "home/Banner" .}}
  {{partial "partners/heroNav" .}}
    <section class="section" style="height:480px">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-push-2 text-center">
            <h3 class="title">Sorry, Not Found</h3>
            <a href="/" class="btn btn-yellow">Back to the Homepage</a>
          </div>
        </div>
      </div>
    </section>
  {{partial "footer" .}}
  {{partial "scripts" .}}
  </body>
</html>
