<div class="container-fluid visible-md visible-lg" style="background-color:#0383FF">

<section >
        <nav class="navbar  navbar-default menu">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a href="/" class="navbar-brand">
                <img src="/img/new-white-logo.svg" alt="Storj" class="logo" >
              </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div>
              <ul class="nav navbar-nav">
                <li style="background-color:#0383FF"><a href="/developers/" style="font-size: .9em;" class="link">Developers</a></li>
                <li style="background-color:#0383FF"><a href="/community/" style="font-size: .9em" class="link">Community</a></li>
                <li style="background-color:#0383FF"><a href="https://storjlabs.atlassian.net/servicedesk/customer/portals" style="font-size: .9em" class="link">Support</a></li>
                <li style="background-color:#0383FF"><a href="/partners/" style="font-size: .9em" class="link">Partners</a></li>
                <li style="background-color:#0383FF"><a href="https://storj.io/blog/" style="font-size: .9em" class="link">Blog</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li style="background-color:#0383FF"><a href="https://app.storj.io/" style="font-size: .9em;margin-right:15px;" class="link">Log In</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </section>
    
      <div class="invited container" style="height:250px;">
      </div>
    
    </div>
    
    
    <div class="container-fluid visible-xs visible-sm" style="background-color:#0383FF;padding:0px;margin:0px;">
    
            <section style="padding-left:10px;padding-right:10px;">
                <nav class="navbar navbar-default menu">
                  <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false" style="margin-right:22.5px;">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a href="http://storj.io/" class="navbar-brand">
                        <img src="/img/new-white-logo.svg" alt="Storj" class="logo" style="margin-left:-20px;">
                      </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                      <ul class="nav navbar-nav">
                        <li style="background-color:#0383FF"><a href="/developers/" style="font-size: .9em;" class="link">Developers</a></li>
                        <li style="background-color:#0383FF"><a href="/community/" style="font-size: .9em" class="link">Community</a></li>
                        <li style="background-color:#0383FF"><a href="https://storjlabs.atlassian.net/servicedesk/customer/portals" style="font-size: .9em" class="link">Support</a></li>
                        <li style="background-color:#0383FF"><a href="/partners/" style="font-size: .9em" class="link">Partners</a></li>
                        <li style="background-color:#0383FF"><a href="https://storj.io/blog/" style="font-size: .9em" class="link">Blog</a></li>
                      </ul>
                      <ul class="nav navbar-nav navbar-right">
                        <li style="background-color:#0383FF"><a href="https://app.storj.io/" style="font-size: .9em" class="link">Log In</a></li>
                      </ul>
                    </div>
                  </div>
                </nav>
              </section>
            
              <div class="invited container" style="height:250px;">
              </div>
            
            </div>