<footer>
    <div class="container">
      <div class="row is-flex">
        <div class="col-xs-12 col-sm-2 col-xs-6">
          <a href="/" class="footer-logo">
            <img src="/img/logo-white.svg" alt="Storj">
          </a>
          <ul class="list-unstyled">
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <li><a href="/terms-of-use">Terms of Use</a></li>
            <li><a href="/terms-of-service">Terms of Service</a></li>
            <li><a href="/code-of-conduct">Code of Conduct</a></li>
            <li><a href="/storj-share-information">Information Policy</a></li>
            <li><a href="/storage-service-level-commitment">Storage SLA</a></li>
            <li><a href="/canary.txt">Canary</a></li>
            <li><a href="https://status.storj.io/">Status</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-2 col-xs-6">
          <h5>Company</h5>
          <ul class="list-unstyled">
            <li><a href="/white-paper">Whitepaper</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/careers">Careers</a></li>
            <li><a href="/press">Press</a></li>
            <li><a href="http://blog.storj.io/">Blog</a></li>
            <li><a href="/open-source">Open Source</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-2 col-xs-6">
          <h5>Product</h5>
          <ul class="list-unstyled">
            <li><a href="https://docs.storj.io/">Quickstart</a></li>
            <li><a href="/developers">Developers</a></li>
            <li><a href="/partners">Partners</a></li>
            <li><a href="/community">Community</a></li>
            <li><a href="/support">Support</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-2 col-xs-6">
          <h5>Connect</h5>
          <ul class="list-unstyled">
            <li><a href="https://twitter.com/storjproject" target="_blank"><img class="social-link" src="/img/social-twitter.svg" alt="">Twitter</a></li>
            <li><a href="https://github.com/Storj/" target="_blank"><img class="social-link" src="/img/social-github.svg" alt="">GitHub</a></li>
            <li><a href="https://www.reddit.com/r/storj/" target="_blank"><img class="social-link" src="/img/social-reddit.svg" alt="">Reddit</a></li>
            <li><a href="https://www.facebook.com/storjproject" target="_blank"><img class="social-link" src="/img/social-facebook.svg" alt="">Facebook</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-3 col-xs-12">
          <h5>Stay in Touch</h5>
          <div style="padding-top: 0.1em" id="mc_embed_signup">
            <form action="https://storj.us8.list-manage.com/subscribe/post?u=edba9fc4ce8b9095a31859cba&amp;id=da152f16f8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
                <div id="mc_embed_signup_scroll">
                <input style="height:50%; font-size: 14px" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required="">
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_edba9fc4ce8b9095a31859cba_09353db057" tabindex="-1" value=""></div>
                <div class="clear"><input style="height:50%; font-size: 14px" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn-footer btn-lg btn-signup"></div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="address">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <address>Storj Labs Inc. - 3423 Piedmont Road NE, Suite 475, Atlanta, Georgia, 30305, United States</address>
          </div>
        </div>
      </div>
    </div>
</footer>


