{{ with .Site.GetPage "banner"}}
<div class="banner-bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-7 col-sm-6">
                <p class="banner-left">{{.Params.leftText}}</p>
            </div>
            <div class="col-xs-5 col-sm-6 text-right">
                <a href="https://tardigrade.io" class="banner-link">
                    <p class="banner-right">{{.Params.rightText}}</p>
                    <img src="/img/tardigrade-logo-only.svg" class="banner-logo" height="10" width="17"/>
                    <span class="glyphicon glyphicon-chevron-right hidden-xs banner-icon-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>
{{end}}
