{{ with .Site.GetPage "banner"}}
<div class="container-fluid banner-bg" style="height:28px;">
    <div class="container" style="height:28px;">
        <div class="row" style="height:28px;">
            <div class="col-xs-7 col-sm-6" style="height:28px;">
                <p style="margin-top:-6px;" class="banner-left">{{.Params.leftText}}</p>
            </div>
            <div class="col-xs-5 col-sm-6 text-right" style="height:28px;">
                <a href="https://tardigrade.io">
                    <p style="margin-top:7px;" class="banner-right">{{.Params.rightText}}</p>
                    <img src="/img/tardigrade-logo-only.svg" height="10" width="17"/><span style="color:white;font-size:12px;margin-left:5px;margin-top:5px;" class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>
{{end}}