<div class="container-fluid" style="background: #041845;mix-blend-mode: normal; color:white;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                    <div class="spacer45"></div>

                <h1 style="color:white;">Become a Storage Node Operator</h1>
                <p>At the beginning of February, 2019 Storj Labs began sending invites to our storage node waitlist for alpha testing. Nodes can begin earning STORJ tokens and building node reputation ahead of our beta (Pioneer release) and production (Voyager release) launches coming later this year.</p>
                <div class="spacer45"></div>
                <div class="row">
                <button class="btn btn-primary text-center" style="background: #133E9C;border-radius: 4px;color:#FFF;padding:10px;">
                    Storage Node Payout Estimator
                </button>
                <p style="font-family: Montserrat;
                font-style: normal;
                font-weight: 800;
                font-size: 14px;
                line-height: 18px;display:inline-block;margin-left:15px;">Join the Waitlist<span class="glyphicon glyphicon-chevron-right" style="color:white;"></span></p>
                </div>
                <div class="spacer45"></div>
                <div class="spacer45"></div>

            </div>
            <div class="col-xs-12 col-md-6 text-center">
                <div class="spacer45"></div>
                <div class="spacer45"></div>
                <img src="/img/storj-logo-logotype-horizontal.svg" height="300" width="300"/>
                </div>
        </div>
    </div>
</div>