<div class="container-fluid main-sno-wrapper" style="background: #041845;mix-blend-mode: normal; color:white;overflow:hidden;">
    <div class="container">
            <div class="spacer45"></div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                    <div class="spacer35"></div>

                <h1 class="sno-heading__white">Become a Storage Node Operator</h1>
                <div class="spacer15"></div>
                <p class="sno-desc__white">At the beginning of February, 2019 Storj Labs began sending invites to our storage node waitlist for alpha testing. Nodes can begin earning STORJ tokens and building node reputation ahead of our beta (Pioneer release) and production (Voyager release) launches coming later this year.</p>
                <div class="spacer45"></div>
                <div class="row">
                <button class="btn btn-primary text-center cta-4-sno-est-wrapper">
                    <a href="/storage-node-estimator" style="cursor:pointer;">
                        <p class="cta-4-sno-est" >Storage Node Payout Estimator</p>
                    </a>
                </button>
                <div class="visible-xs visible-sm"></div>
                <a href="/sign-up-farmer" style="position:relative;z-index:99;">
                    <p class="sno-join-cta">Join the Node Waitlist<span class="glyphicon glyphicon-chevron-right" style="color:white;margin-left: 15px;"></span></p>
                </a>
                </div>
                <div class="spacer45"></div>
                <div class="spacer45"></div>

            </div>
            <div class="col-xs-12 col-md-5  col-md-offset-1 text-center">
                <div class="spacer45"></div>
                <div class="spacer45"></div>
                <img class="node-img" src="/img/node.png" height="877" width="406"/>
                </div>
        </div>
    </div>
    <div class="spacer45"></div>
    <div class="spacer45"></div>
</div>