<div class="diskSpace-bg container-fluid">
  <div class="container">
    <div class="row text-center">
      <div class="spacer100"></div>
      <div class="col-xs-12 text-center mt-5">
          <h1 class="diskSpace-header">Put Your Extra Disk Space to Work</h1>
          <p class="diskSpace-subheader">Node Operators get paid for their extra disk space, sort of like ride-sharing for the cloud.</p>
          <div class="spacer60"></div>
      </div>
      <div class="diskSpace-content row mt-5">
        {{range where .Site.Pages ".Params.class" "diskSpace" | first 4}}
          <div class="diskSpace-section col-xs-12 col-lg-4 mt-5 p-3 text-xs-center">
            <div class="diskSpace-icon">
              <img alt="{{.Params.alt}}" class="img-fluid" src="{{.Params.img}}" height="{{.Params.h}}" width="{{.Params.w}}"/>
            </div>
            <div class="spacer30"></div>
            <h4 class="diskSpace-subheading">
              {{.Params.heading}}
            </h4>
            <div class="spacer20"></div>
            <p class="diskSpace-desc">
              {{.Params.desc}}
            </p>
          </div>
        {{end}}
      </div>
    </div>
    <div class="spacer125"></div>
  </div>
</div>
