</div>

<div class="container-fluid">
    <div class="container">
    <div class="row text-center">
        
        <div class="row">

        <div class=" col-xs-12 col-sm-8 col-sm-offset-2 upd-cta-wrapper">
          <div class="spacer15"></div>

          <div class="row text-center">
              <div class="spacer25"></div>
              <p class="upd-cta-heading">
                On the waitlist?
              </p>

          </div>

          <div class="col-xs-12 col-md-1 col-md-offset-1">
            <img src="img/waitlist.png" class="w-list-img" width="87" height="152px">
            <div class="spacer45"></div>
          </div>
            
        <div class="spacer10"></div>
        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
          <p class="upd-cta-desc">The first 10,000 developers on the Tardigrade.io waitlist will get 1TB free for their first 30 days after production launch.</p>
        </div>
          <div class="spacer45"></div>
          <div class="col-xs-12 col-md-3 col-md-offset-4">
            <a href="/sign-up" class="btn btn-lg upd-cta-cta">Join the Developer Waitlist</a>
            <div class="spacer45"></div>

          </div>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

</div>
