</div>
<div class="spacer45"></div>

<div class="container-fluid">
    <div class="container">
    <div class="row text-center">
        <div class="spacer45"></div>
        <div style="margin:0 auto; width: 264px;border-radius: 4px;	background-color: rgba(89,160,255,0.2);"><p style="color: #59A0FF;	font-family: Montserrat;	font-size: 13px;	font-weight: 500;	line-height: 28px;"><span style="font-weight: 700;margin-right:10px;">FRESH UPDATE</span> <span style="margin-right:5px;">&#9679;</span> April 10, 2019</p></div>
        <div class="spacer45"></div>

        <div class="spacer15"></div>
        
        <h2 style="margin-top:-5px;color:black;">Storj Alpha Release 4: Vanguard - Data Storage</h2>
        <div class="spacer15"></div>
        <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
        <p style="opacity: 0.7;color: #333333;font-size: 16px;	line-height: 28px;">Data storage is here! Storj Labs is now sending out invites to developers from our waitlist to begin testing data storage on our alpha network of high-performance storage nodes. </p>
        </div>

        <div class=" col-xs-12 col-sm-8 col-sm-offset-2" style="height: 400px;border: 1px solid rgba(94,106,123,0.39);	border-radius: 4px;	background-color: rgba(255,255,255,0.75);	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);margin-top:20px;">
          <div class="spacer15"></div>

          <div class="row">
            <div class="spacer30"></div>
            <div class="col-xs-12 col-md-1 col-md-offset-1">
              <img src="img/waitlist.png">
            </div>

            <div class="col-xs-12 col-md-8 col-md-offset-2">
              <a class="estimator-link" href="/storage-node-estimator/"><p style="	height: 28px;	color: #333333;	font-family: Montserrat;	font-size: 24px;	font-weight: bold;	line-height: 28px;text-align:left;margin-top:50px;"><strong>On the waitlist?</strong></p></a>
            </div>
            
        <div class="spacer25"></div>
        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
        <p style="opacity: 0.7;color: #333333;font-size: 16px;	line-height: 28px; text-align:left;">The first 10,000 developers on the Tardigrade.io waitlist will get 1TB free for their first 30 days after production launch.</p>
        </div>
        <div class="spacer45"></div>
        <a href="/sign-up" style="padding-left:20px;padding-right:20px;font-size:14px;margin-top:20px;margin-left:-100px;" class="btn btn-lg">Join the Developer Waitlist</a>
        <div class="spacer50"></div>
      </div>
      </div>
    </div>
  </div>
<div class="spacer50"></div>
</div>
</div>
</div>

</div>
