<div class="container-fluid" style="background: #F4F6F9;
mix-blend-mode: normal;">
                    <div class="spacer45"></div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                        <div class="spacer45"></div>
                        <div class="spacer45"></div>

                    <h1 style="color:black;">Innovations in Token Governance</h1>
                    <p>While we are first and foremost a decentralized storage network, we’ve also been recognized as leaders in the field of token governance. Our goal is to be transparent and clear with our community members around our token governance efforts. 
                        </p>
                    <div class="spacer45"></div>
                    <div class="row">       
                    <p style="font-family: Montserrat;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 14px;
                    line-height: 18px;display:inline-block;margin-left:15px;color: #133E9C;">Learn more about our token governance policies<span class="glyphicon glyphicon-chevron-right" style="color: #133E9C;"></span></p>
                    </div>
                    <div class="visible-md spacer45"></div>
                    <div class="visible-md spacer45"></div>
                    <div class="visible-md spacer45"></div>
                </div>
                <div class="col-xs-12 col-md-6 text-center">
                    <div class="visible-md spacer45"></div>
                    <img src="/img/governance.png" height="360" width="360"/>
                    <div class="spacer45"></div>
                    </div>
            </div>
            <div class="spacer45"></div>
            <div class="spacer45"></div>
        </div>
    </div>