<div class="container-fluid helpDevs-bg">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12 text-center mt-5">
          <h1 class="helpDevs-header">Helping Developers Weave the<br> Fabric of Tomorrow’s Internet</h1>
          <div class="spacer60"></div>
      </div>
      <div class="row mt-5">
        {{range where .Site.Pages ".Params.class" "whytardigrade" | first 4}}
          <div class="helpDevs-section col-xs-12 col-lg-4 mt-5 p-3 text-xs-center">
            <div class="helpDevs-icon">
              <img alt="{{.Params.alt}}" class="img-fluid" src="{{.Params.img}}" height="{{.Params.h}}" width="{{.Params.w}}"/>
            </div>
            <h4 class="helpDevs-subheading">
              {{.Params.heading}}
            </h4>
            <div class="spacer20"></div>
            <p class="helpDevs-desc">
              {{.Params.desc}}
            </p>
          </div>
        {{end}}
      </div>
    </div>
    <div class="spacer45"></div>
    <div class="spacer45"></div>
    <div class="spacer45"></div>
  </div>
</div>
