<div class="row">
{{with .Site.GetPage "page" "homeHero.md"}}
    <div class="col-xs-8 col-sm-6 col-md-6 col-lg-5" style="margin-left:15px;border: 1px solid rgba(255,255,255,0.2);	background-color: rgba(255,255,255,0.2);border-radius:4px;color:white;text-align: center;font-size: 13px;	font-weight: 600;	line-height: 28px;width:260px;">{{.Params.stage}}</div>
</div>
 <h1 style="font-size:30px;line-height:40px;color:white;">{{.Params.heading}}</h1>
    {{.Content}}
  <div class="spacer20"></div>
  <a href={{.Params.ctaLink}} style="padding-left:20px;padding-right:20px;font-size:14px;" class="btn btn-lg">{{.Params.ctaText}}</a>
  <div class="spacer50"></div>
</div>

<div class="col-xs-12 col-sm-8 col-sm-offset-3 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
<img src="{{.Params.img}}"/>
</div>
{{end}}