<div class="container">
    <div class="row wh">
      <div class="spacer30"></div>
      <div class="col-12 text-center">
        <div class="spacer35"></div>
        <div class="row" style="display: flex; justify-content: center;">
          {{with .Site.GetPage "page" "homeHero.md"}}
          <div class="col-12 prod-stage">{{.Params.stage}}</div>
        </div>
          <div class="spacer50"></div>
          <h1 class="hero-heading">{{.Params.heading}}</h1>
          <p class="hero-subheading">{{.Content}}</p>
          <div class="spacer20"></div>
          <a href={{.Params.ctaLink}} class="btn btn-lg hero-cta" >{{.Params.ctaText}}</a>
          <a href="https://tardigrade.io" style="text-decoration: none">
            <p class="mt-5" style="display: inline;margin-left: 30px;color:white;
              font-family: Poppins;
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              line-height: 28px;">
              Node Operator Waitlist<span style="font-size:12px;margin-left:10px" class="glyphicon glyphicon-chevron-right"></span>
            </p>
          </a>
          <div class="spacer50"></div>
      </div>
          {{end}}
  </div>
</div>
<div class="spacer45"></div>
<div class="spacer45"></div>

<!--completes div & section from navbar partial-->
</div>
</section>