<div class="container bg-img-home-hero">
  <div class="spacer30"></div>
  <div class="spacer35"></div>
    {{with .Site.GetPage "page" "homeHero.md"}}
    <div class="row ml-25">
      <div class="col-xs-12 center-sm">
        <div class="prod-stage">{{.Params.stage}}</div>
      </div>
    </div>
    <div class="spacer30"></div>
    <div class="row mb-24">
      <div class="col-xs-12 col-md-10 text-center">
        <h1 class="hero-heading col-xs-12 hidden-xs">{{.Params.heading1}} {{.Params.heading2}}</h1>
        <h1 class="hero-heading col-xs-12 col-xs-offset-0 visible-xs">{{.Params.heading1}}</h1>
        <h1 class="hero-heading col-xs-12 col-xs-offset-0 visible-xs">{{.Params.heading2}}</h1>
        <h1 class="hero-heading col-xs-12">{{.Params.subHeading}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-0 center-sm">
        {{ .Content | replaceRE "<p>" "<p class=\"hero-subheading\">" | safeHTML }}
      </div>
    </div>
    <div class="spacer100 visible-xs"></div>
    {{end}}
    <div>
      <div class="row">
        <div class="col-lg-6">
          <div>
            <div class="spacer90"></div>
            <div class="row">
              <div class="col-lg-12">
                <img src="/img/storj-ico-hdd.png"/>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <h1>Got an Open Source App?</h1>
                <p>Open Source partners get paid every time their users store data on Tardigrade. </p>
                <div></div>
                <a href="/partners" style="text-decoration:none;">
                <p>Become a Tardigrade Partner</p>
                </a>
              </div>
            </div>
          </div>
          <div class="spacer125"></div>
        </div>
        <div class="col-lg-6 careers-grey">
          <div>
            <div class="spacer90"></div>
            <div class="row">
              <div class="col-lg-12 text-center">
                <img class="transparency-img" src="/img/storj-com-ico-cloud-disk.png"/>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <h1 class="transparency-heading">Token Transparent</h1>
                <div class="spacer15"></div>
                <p class="transparency-subheading">We’re one of the longest-standing decentralized projects, and recognized as leaders in the field of token governance.</p>
                <div class="spacer25"></div>
                <a href="https://storj.io/blog/2018/12/an-overview-of-tokens-uses-flows-and-policies-at-storj-labs/ ">
                    <p class="transparency-learn-more">Learn More</p>
                </a>
              </div>
            </div>
            <div class="spacer90"></div>
          </div>
        </div>
      </div>
    </div>
</div>

<!--completes div & section from navbar partial-->
</div>
</section>
