{{ with .Site.GetPage "introducing" }}
  <div class="introducing careers-grey container-fluid">
    <div class="container">
      <div class="spacer100"></div>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-5 col-md-12 text-center introducing-content">
          <h2 class="introducing-heading">
            {{ replace .Params.heading "\n" "<br/>" | safeHTML}}
          </h2>
          <br />
          <p class="introducing-subheading">
            {{ replace .Params.subheading "\n" "<br/>" | safeHTML}}
          </p>
          <div class="spacer20"></div>
          <div>
            <ul class="introducing-list">
              {{ range where .Site.Pages ".Params.class" "intro-item"}}
              <li class="introducing-list-item">
                <img alt="Checkmark" class="introducing-list-check" src="/img/storj-check.svg" alt="benefits icon">
                <h4 class="introducing-list-item-content" class="">{{ .Params.content }}</h4>
              </li>
              {{ end }}
            </ul>
            <div class="spacer30"></div>
            <p class="introducing-cta-text">
              <a href="https://tardigrade.io/" target="_blank" rel="noopener noreferrer" class="introducing-cta-link">
                Visit Tardigrade.io
                <img alt="Visit Tardigrade.io" src="/img/carrot-right.svg" height="16" width="16">
              </a>
            </p>
          </div>
        </div>
        <div class="col-lg-7 col-md-12">
        </div>
      </div>
      <div class="col-lg-7 col-md-12 introducing-bg" title="{{.Params.altText}}">
      </div>
    </div>
  </div>
{{end}}
