<div class="container ">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="spacer100"></div>
        {{ with .Site.GetPage "page" "homePartners"}}
            <div class="spacer45"></div>
            <div class=" col-md-5 col-lg-4" height=261 width=380 >
              <img src="{{.Params.img}}"/>
            </div>
            <div class="spacer25 visible-xs visible-sm"></div>
            <div class="col-md-6 col-md-offset-1 col-lg-7 col-lg-offset-1 learn-osp-wrapper">
            <p class="learn-osp-heading">{{.Params.heading}}</p>
            <p class="learn-osp-desc">{{.Description}}</p>
            <div class="spacer20"></div>
            <a href="{{.Params.ctaLink}}" class="btn btn-lg learn-osp-cta-link">{{.Params.ctaText}}</a>
            <div class="spacer50"></div>
        {{end}}
        </div>
      </div>
    </div>
  </div>
<div class="spacer100"></div>
<div class="spacer100"></div>