<div class="container-fluid milestones-main-wrapper">
  <div class="container">
    <div class="row">
      <div class="spacer100"></div>
      {{with .Site.GetPage "milestoneTop"}}
        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-push-2 text-center mstone-heading">
          {{.Params.heading}}
            <div class="spacer35"></div>
            <p class="mstone-desc">
              {{.Params.subHeading}}
            </p>
        </div>
      {{end}}
        <div class="col-md-12">
          <div class="milestones milestone-inner-wrapper">
            <div class="row">
              <ul class="timeline timeline-2nd timeline-horizontal">
              {{range where .Site.Pages ".Params.class" "milestone"}}
                <li class="timeline-item">
                  {{$isCurrent := .Params.current}}
                  <div class="{{if $isCurrent}}timeline-badge current-milestone{{else}}timeline-badge{{end}}"></div>
                    <div class="timeline-panel{{ if eq $isCurrent false}}-genesis not-current-panel{{else}} current-panel{{end}}">
                      <div class="timeline-heading">
                        <p class="{{if $isCurrent}}current-milestone-text{{else}}not-current-milestone-text{{end}}">
                          {{.Params.text}}
                        </p>
                    </div>
                  </div>
                </li>
              {{end}}
              </ul>
            </div>
            <div class="row mstone-bottom-wrapper">
              {{with .Site.GetPage "milestoneBottom"}}
                <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-push-2 text-center">
                    <p class="mstone-bottom">
                      <a href={{.Params.link}} target="_blank">
                        {{.Params.linkDescription}}
                        <span style="font-size:12px;margin-left:10px;" class="glyphicon glyphicon-chevron-right"></span>
                      </a>
                    </p>
                </div>
              {{end}}
            </div>
          </div>
        <div class="spacer100"></div>
      </div>
    </div>
  </div>
</div>

