    <nav class="navbar navbar-default menu">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
              <img src="/img/new-white-logo.svg" alt="Storj" class="logo">
            </a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right">
                {{range where .Site.Pages ".Params.class" "navitem"}}
                <li><a class="link-style" href="{{ .Params.link }}">{{ .Title }}</a><div class="visible-lg-inline-block" style="width:28px;display:inline-block"></div></li>
                {{end}}
                <a href="/sign-up-node-operator/" class="pull-right-md" style="background: transparent;"><button class="btn btn-primary nav-join">Become a Host</button></a></li>
              </ul>
          </div>
        </div>
      </div>
    </nav>
