<div>
  <div class="row">
    <div class="col-lg-6 careers-grey">
      <div class="osp">
        <div class="spacer90"></div>
        <div class="row">
          <div class="col-lg-12">
            <img class="osp-image" src="/img/opensource-storj.png"/>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h1 class="osp-heading">Got an Open Source App?</h1>
            <p class="osp-desc">Open Source partners get paid every time their users store data on Tardigrade. </p>
            <div class="spacer15"></div>
            <a href="/partners" style="text-decoration:none;">
            <p class="osp-cta-partner">Become a Tardigrade Partner</p>
            </a>
          </div>
        </div>
      </div>
      <div class="spacer125"></div>
    </div>
    <div class="col-lg-6">
      <div class="transparency">
        <div class="spacer90"></div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <img class="transparency-img" src="/img/governance.png"/>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h1 class="transparency-heading">Token Transparent</h1>
            <div class="spacer15"></div>
            <p class="transparency-subheading">We’re one of the longest-standing decentralized projects, and recognized as leaders in the field of token governance.</p>
            <div class="spacer25"></div>
            <a href="https://storj.io/blog/2018/12/an-overview-of-tokens-uses-flows-and-policies-at-storj-labs/ ">
                <p class="transparency-learn-more">Learn More</p>
            </a>
          </div>
        </div>
        <div class="spacer90"></div>
      </div>
    </div>
  </div>
</div>
