<div>
  <div class="row">
    <div class="col-lg-6 careers-grey">
      <div class="osp">
        <div class="spacer90"></div>
        <div class="row">
          <div class="col-lg-12">
            <img class="osp-image" src="/img/opensource-storj.png" alt="open source project"/>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h1 class="osp-heading">Got an Open Source App?</h1>
            <p class="osp-desc">Open Source Partners get paid every time their users store data on Tardigrade. </p>
            <div class="spacer15"></div>
            <a target="_blank" rel="noopener noreferrer"  href="https://tardigrade.io/partner/" class="btn btn-primary ospTrans-button">Become a Tardigrade Partner</a>
          </div>
        </div>
      </div>
      <div class="spacer125"></div>
    </div>
    <div class="col-lg-6">
      <div class="transparency">
        <div class="spacer90"></div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <img class="transparency-img" src="/img/governance.png" alt="Illustrating token transparency and governance"/>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h1 class="transparency-heading">Token Transparent</h1>
            <p class="transparency-subheading">We’re one of the longest-standing decentralized projects, and recognized as leaders in the field of token governance.</p>
            <div class="spacer15"></div>
            <a target="_blank" rel="noopener noreferrer" href="https://storj.io/blog/2018/12/an-overview-of-tokens-uses-flows-and-policies-at-storj-labs/" class="btn btn-primary ospTrans-button">Learn More</a>
          </div>
        </div>
        <div class="spacer90"></div>
      </div>
    </div>
  </div>
</div>
