<div class="container-fluid" style="color:black;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-5">
                        <div class="spacer45"></div>
                        <div class="spacer45"></div>
                    <img src="/img/encrypt.png" height="300" width="300"/>
                </div>
                <div class="col-xs-12 col-md-7">
                        <div class="spacer45"></div>
                        <div class="spacer45"></div>
                        <h1 style="color:black;">The Open Source Partner Program: </h1>
                        <p>Storj Labs is very passionate about supporting, building, and using open source software. With this program, every time one of our OS approved partners has a user that stores data on Tardigrade using our connectors, we will share a generous portion of every dollar earned with our open-source partners. Forever. . .</p>
                        <div class="spacer45"></div>
                        <div class="row">
                        <p style="font-family: Montserrat;
                        font-style: normal;
                        font-weight: 800;
                        font-size: 14px;
                        line-height: 18px;display:inline-block;margin-left:15px;color: #133E9C;">Become a Partner<span class="glyphicon glyphicon-chevron-right" style="color: #133E9C;"></span></p>
                        </div>
                        <div class="spacer45"></div>
                        <div class="spacer45"></div>
                    </div>
            </div>
        </div>
    </div>