<div class="container-fluid" style="color:black;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-2 col-md-offset-1">
                        <div class="spacer45"></div>
                        <div class="spacer45"></div>
                    <img class="img-fluid" src="/img/opensource-storj.png" width="219"
                    height="333"/>
                </div>
                <div class="col-xs-12 col-md-6 col-md-offset-2">
                        <div class="spacer45"></div>
                        <div class="spacer45"></div>
                        <h1 class="osp-heading">The Open Source Partner Program: </h1>
                        <p class="osp-desc">Storj Labs is very passionate about supporting, building, and using open source software. With this program, every time one of our OS approved partners has a user that stores data on Tardigrade using our connectors, we will share a generous portion of every dollar earned with our open-source partners.<br>Forever. . .</p>
                        <div class="spacer15"></div>
                        <div class="row">
                        <p class="osp-cta-partner">Become a Partner<span class="glyphicon glyphicon-chevron-right" style="color: #133E9C;width: 11px;
                            height: 11px;margin-left:10px;"></span></p>
                        </div>
                        <div class="spacer45"></div>
                        <div class="spacer45"></div>
                    </div>
            </div>
        </div>
    </div>
    <div class="spacer15"></div>
