  <div class="container-fluid" style="background-color: #F2F4F6;	box-shadow: 0 2px 12px 0 rgba(0,0,0,0.09);">
    <div class="spacer45"></div>
  <div class="row text-center">
    <p style="color: #333333;font-family:Montserrat;font-size: 20px;line-height:23px;">OUR PARTNERS</p>
  </div>
  <div class="spacer25"></div>
  <div class="row" style="padding:0px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" style="padding:0px;">
        {{ range where .Site.Pages ".Params.class" "1stSetLogos"}}
        <img style="{{.Params.height}};{{.Params.width}};{{.Params.margin}};" src="{{.Params.img}}"/>
        {{end}}
    </div>
 </div>
    <div class="row" style="padding:0px;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1 text-center" style="padding:0px;">
            {{ range where .Site.Pages ".Params.class" "2ndSetLogos"}}
            <img style="{{.Params.height}};{{.Params.width}};{{.Params.margin}};" src="{{.Params.img}}"/>
            {{end}}
    </div>
</div>
<div class="spacer45"></div>
</div>