<section class="pricing section text-center" id="pricing">
        <div class="container-fluid" style="background-color: #F2F4F6;	box-shadow: 0 2px 12px 0 rgba(0,0,0,0.09);">
{{ with .Site.GetPage "page" "homePricing.md"}}
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
              <div class="spacer35"></div>
              <h1>{{.Params.heading}}</h1>
              <p>{{.Description}}.</p>
            </div>
          </div>
{{end}}


          <div class="row plans">
            {{range where .Site.Pages ".Params.class" "priceBox"}}
            <div class="col-xs-12 col-sm-6 col-md-5 col-md-push-1">
              <div class="plan">
                <div class="row">
                  <div class="col-xs-12">
                    <p class="plan-title">{{.Params.heading}}</p>
                    <img src="{{.Params.img}}" class="plan-icon" alt="">
                    <h2 class="plan-pricing">{{.Params.price}}<span>per GB per month</span></h2>
                  </div>
                </div>
              </div>
            </div>
            {{end}}

              <div class="spacer45"></div>
            </div>
          </div>
        </div>
      </div>
      </section>