<section class="section">
          <div class="container" style="padding:15px;">
            <div class="row">
              <div class="col-xs-10 col-xs-offset-1  col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center" style="padding:0px;">
                <h1 stlye="font-family:Montserrat;font-size:30px;font-weight:800;line-height:40px;color:black;"><span style="color:black;">Stay Up-to-Date <br class="visible-xs">on the <br class=" visible-md visible-lg">Latest <br class="visible-xs">From Storj Labs</span></h1>
                <div class="spacer45"></div>
              </div>
            </div>
            <div class="row">

            {{range where .Site.Pages ".Params.class" "homeUpdateBlock"}}
              <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="panel panel-card" style="height:250px;">
                  <p style="height: 19px;	width: 276px;	color: #929292;	font-family: Montserrat;	font-size: 16px;	line-height: 19px;">{{.Params.heading}}</p>
                  <h2 style="color:black;font-weight:700;">{{.Description}}</h2>
                  <div class="spacer10"></div>
                  <a href={{.Params.ctaLink}} style="height:22px;width: 276px;color: #2683FF;font-family: Montserrat;font-size: 18px;line-height: 22px;font-weight:600;">{{.Params.ctaText}} &rarr;</a>
                </div>
              </div>
              {{end}}

            </div>
            <div class="spacer45"></div>
          </div>
      </section>