<div class="container-fluid" style="background-color: #F2F4F6;	box-shadow: 0 2px 12px 0 rgba(0,0,0,0.09);">
  <div class="container">
        <div class="row">
          <div class="spacer45"></div>

            <div class="col-md-12 text-center">
                <h1 style="color:black;">Our Core Use Cases:</h1>

                <div class="spacer45"></div>

              </div>

          <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
             {{range where .Site.Pages ".Params.class" "homeUseCase"}} 
            <p style="color:#333333;font-family:Montserrat;font-size:18px;font-weight:800;line-height:26px;padding-left:50px;padding-right:50px;">{{.Params.heading}}</p>
            <p style="color: #333333;font-family:Montserrat;font-size:14px;line-height:23px;padding-left:50px;padding-right:50px;">{{.Description}}</p>
            <div class="spacer35"></div>
            {{end}}
            <div class="spacer45"></div>
        </div>
    </div>
  </div>
</div>
</div>