<div class="spacer10"></div>
<div class="log-lg-4 col-lg-offset-0" style="padding-right:15px;">
<p style="font-family: Montserrat;	font-size: 16px;	font-weight: bold;	line-height: 26px;	text-align: center;">Follow our progress on and plans on <a href="https://storjlabs.aha.io/published/01ee405b4bd8d14208c5256d70d73a38">our public roadmap.</a></p>
<div class="spacer50"></div>
</div>
</div>
<div class="container-fluid">
  <section id="waitlist" class="c2a-wrapper">
  <div class="container">
    <div class="row row-centered">
      <div class="col-centered col-md-6">
        <h1 class="text-center" style="color:black;font-size:30px;margin-top:-20px;">Get First-come, First-served <br> Access to Our New Network</h1>
        <div class="spacer15"></div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row row-centered">
  
            <div class="col-md-5 col-sm-12 col-centered">
              <div class="text-center">
                <img src="img/cloud-drive.svg" height="151"	width="160">
                <div class="spacer45"></div>
                <h3 style="font-size:20pt;line-height:26pt;color:black;">Store data at an affordable price!</h3>
                <p style="font-size:12pt">Sign up for the developer waitlist and get early access to our affordable and resilient network when it launches later this year.</p>
                <div class="spacer25"></div>
                <a href="/sign-up/" class="btn">Join The Developer Waitlist</a>
              </div>
            </div>
  
        </div>
      </div>
  </div>
  </div>
  </section>
  </div>
  </div>