<section class="section whitepaper-ctas">
    <div class="container">

      <div class="row">
        <div class="col-xs-10 col-xs-offset-1  col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
          <h1>Get Involved</h1>
        </div>
      </div>

      <div class="row">
        {{range where .Site.Pages ".Params.class" "wpbox"}}
        <div class="col-xs-12 col-sm-12 col-md-4">
          <div class="panel panel-card text-center">
            <div class="spacer15"></div>
            <img class="whitepaper-cta-icon" src="{{.Params.icon}}"/>
            <div class="spacer15"></div>
            <h2 class="whitepaper-cta-heading">{{.Params.heading}}</h2>
            <div class="whitepaper-cta-content">
                {{ .Content}}
            </div>
            <a href="{{.Params.ctaLink}}"><button class="btn btn-primary btn-block whitepaper-cta-btn">{{.Params.ctaText}}</button></a>
          </div>
        </div>
        {{end}}
      </div>

    </div>
</section>
