<div class="container-fluid white-paper-header-bg visible-lg">
<section>
        <nav class="navbar" >
            <div class="container">
                <div>
                  <ul class="nav navbar-nav">
                      <a href="/" class="navbar-brand">
                        <img src="/img/new-white-logo.svg" alt="Storj" class="logo" style="margin-left:30px;">
                      </a>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                      {{range where .Site.Pages ".Params.class" "navitem"}}
                      <li><a style="font-size: .9em;color:white;" href="{{ .Params.link }}" >{{ .Title }}</a></li>
                    {{end}}
                    <a href="/sign-up-node-operator/" class="pull-right"><button class="btn btn-primary nav-join" style="background:transparent;">Join the Waitlist</button></a></li>
                  </ul>
          </div>
        </div>
      </nav>
    </section>

    <section>
      <div class="container">

        <div class="row">

          <div class="col-lg-6 col-lg-offset-5">
            <div class="spacer45"></div>
            <div class="spacer15"></div>
            <h1 style="color:white;font-size: 36px;	font-weight: 800;	line-height: 40px;">Storj Whitepaper V3</h1>
            </div>
          </div>

        <div class="row">

            <div class="col-lg-7 col-lg-offset-5">
            <p style="color: rgba(255,255,255,0.8);	font-family: Montserrat;	font-size: 16px;	line-height: 28px;">We have designed a general framework of eight components that provides an optimal implementation of decentralized cloud storage that can massively scale and still operate within the limits of any design constraints. Our V3 network is S3 compatible, has a pathway from object storage to CDN, uses Reed Solomon erasure coding instead of replication, and is 1/2 the price of traditional cloud storage providers.</p>
            </div>
        </div>

        <div class="spacer20"></div>


          <div class="row">
          <div class="col-12">

          <div class="col-lg-3 col-lg-offset-5">
          <a href="/Storj-White-Paper-Executive-Summary.pdf" class="btn" style="border: 2px solid #FFFFFF;	border-radius: 4px;background-color:white;color:#0082FF;padding:12.5px;margin-top:25px;font-size: 14px;	font-weight: 800;	line-height: 18px;	text-align: center;">READ EXECUTIVE SUMMARY</a>
          </div>

          <div class="col-lg-3 col-lg-offset-0">
          <a href="/storjv3.pdf" class="btn" style="border: 2px solid #FFFFFF;	border-radius: 4px;padding:12.5px;margin-top:25px;font-size: 14px;	font-weight: 800;	line-height: 18px;	text-align: center;margin-left:-25px;">DOWNLOAD WHITEPAPER V3</a>
          </div>

          </div>
        </div>
        <div class="spacer45"></div>
        <div class="spacer45"></div>
      </div>
      </div>
    </section>
  </div>

  <div class="container-fluid white-paper-header-bg visible-md">

    <section>
        <nav class="navbar" >
            <div class="container">
                <div>
                  <ul class="nav navbar-nav">
                      <a href="/" class="navbar-brand">
                        <img src="/img/new-white-logo.svg" alt="Storj" class="logo" style="margin-left:30px;">
                      </a>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                      {{range where .Site.Pages ".Params.class" "navitem"}}
                      <li><a style="font-size: .9em;color:white;" href="{{ .Params.link }}" >{{ .Title }}</a></li>
                    {{end}}
                    <a href="/sign-up-node-operator/" class="pull-right"><button class="btn btn-primary nav-join" style="background:transparent;">Join the Waitlist</button></a></li>
                  </ul>
          </div>
        </div>
      </nav>
    </section>

    <section>
      <div class="container">

        <div class="row">

          <div class="col-md-6 col-md-offset-5">
            <div class="spacer45"></div>
            <h1 style="color:white;font-size: 36px;	font-weight: 800;	line-height: 40px;">Storj Whitepaper V3</h1>
            </div>
          </div>

        <div class="row">

            <div class="col-md-7 col-md-offset-5">
            <p style="color: rgba(255,255,255,0.8);	font-family: Montserrat;	font-size: 16px;	line-height: 28px;">We have designed a general framework of eight components that provides an optimal implementation of decentralized cloud storage that can massively scale and still operate within the limits of any design constraints. Our V3 network is S3 compatible, has a pathway from object storage to CDN, uses Reed Solomon erasure coding instead of replication, and is 1/2 the price of traditional cloud storage providers.</p>
            </div>
        </div>

        <div class="spacer20"></div>


          <div class="row">
          <div class="col-12">

          <div class="col-md-3 col-md-offset-5">
          <a href="/Storj-White-Paper-Executive-Summary.pdf" class="btn" style="border: 2px solid #FFFFFF;	border-radius: 4px;background-color:white;color:#0082FF;padding:12.5px;margin-top:25px;font-size: 14px;	font-weight: 800;	line-height: 18px;	text-align: center;">READ EXECUTIVE SUMMARY</a>
          </div>

          <div class="col-md-3 col-md-offset-0">
          <a href="/storjv3.pdf" class="btn" style="border: 2px solid #FFFFFF;	border-radius: 4px;padding:12.5px;margin-top:25px;font-size: 14px;	font-weight: 800;	line-height: 18px;	text-align: center;margin-left:25px;">DOWNLOAD WHITEPAPER V3</a>
          </div>

          </div>
        </div>
        <div class="spacer45"></div>
        <div class="spacer45"></div>
      </div>
      </div>
    </section>
  </div>

  <div class="container-fluid white-paper-header-bg visible-sm">

      <section>
          <nav class="navbar" >
              <div class="container">
                  <div>
                    <ul class="nav navbar-nav">
                        <a href="/" class="navbar-brand">
                          <img src="/img/new-white-logo.svg" alt="Storj" class="logo" style="margin-left:30px;">
                        </a>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {{range where .Site.Pages ".Params.class" "navitem"}}
                        <li><a style="font-size: .9em;color:white;" href="{{ .Params.link }}" >{{ .Title }}</a></li>
                      {{end}}
                      <a href="/sign-up-node-operator/" class="pull-right"><button class="btn btn-primary nav-join" style="background:transparent;">Join the Waitlist</button></a></li>
                    </ul>
            </div>
          </div>
        </nav>
      </section>

      <section>
        <div class="container">

          <div class="row">

            <div class=" col-sm-7 col-sm-offset-4 ">
              <div class="spacer45"></div>
              <h1 style="color:white;font-size: 36px;	font-weight: 800;	line-height: 40px;text-align:center;">Storj Whitepaper V3</h1>
              </div>
            </div>

          <div class="row">

              <div class="col-sm-8 col-sm-offset-4">
              <div class="spacer25"></div>
              <p style="color: rgba(255,255,255,0.8);	font-family: Montserrat;	font-size: 16px;	line-height: 28px;">We have designed a general framework of eight components that provides an optimal implementation of decentralized cloud storage that can massively scale and still operate within the limits of any design constraints. Our V3 network is S3 compatible, has a pathway from object storage to CDN, uses Reed Solomon erasure coding instead of replication, and is 1/2 the price of traditional cloud storage providers.</p>
              </div>
          </div>

          <div class="spacer45"></div>


            <div class="row">
            <div class="col-12">

            <div class="col-sm-8 col-sm-offset-3">
            <a href="/Storj-White-Paper-Executive-Summary.pdf" class="btn btn-block" style="border: 2px solid #FFFFFF;	border-radius: 4px;background-color:white;color:#0082FF;padding:12.5px;margin-top:25px;font-size: 14px;	font-weight: 800;	line-height: 18px;	text-align: center;max-width:360px;">READ EXECUTIVE SUMMARY</a>
            </div>

            <div class="col-sm-8 col-sm-offset-3">
            <a href="/storjv3.pdf" class="btn btn-block" style="border: 2px solid #FFFFFF;	border-radius: 4px;padding:12.5px;margin-top:25px;font-size: 14px;	font-weight: 800;	line-height: 18px;	text-align: center;max-width:360px;">DOWNLOAD WHITEPAPER V3</a>
            </div>

            </div>
          </div>
          <div class="spacer45"></div>
          <div class="spacer45"></div>
        </div>
        </div>
      </section>
    </div>

    <div class="container-fluid  visible-xs" style="background-color:#3187FF;">

        <section>
            <nav class="navbar">
                <div class="container">
              <div class="navbar-header" >
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false" style="background-color:#fff;margin-top:35px;border:1px solid white;">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar" style="background-color:#3187FF;"></span>
                  <span class="icon-bar" style="background-color:#3187FF;"></span>
                  <span class="icon-bar" style="background-color:#3187FF;"></span>
                </button>
                <a href="/" class="navbar-brand">
                  <img style="margin-left:-25px;" src="/img/new-white-logo.svg" alt="Storj" class="logo">
                </a>
              </div>
              <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav">
                        {{range where .Site.Pages ".Params.class" "navitem"}}
                        <li><a style="font-size: .9em;color:white;" class="link" href="{{ .Params.link }}">{{ .Title }}</a></li>
                      {{end}}
                </ul>
              </div>
            </div>
          </nav>
        </section>

        <section>
          <div class="container">

            <div class="row">

              <div class="">
                <div class="spacer45"></div>
                <h1 style="color:white;font-size: 36px;	font-weight: 800;	line-height: 40px;text-align:center;">Storj Whitepaper V3</h1>
                </div>
              </div>

            <div class="row">

                <div class="">
                <div class="spacer25"></div>
                <p style="color: rgba(255,255,255,0.8);	font-family: Montserrat;	font-size: 16px;	line-height: 28px;text-align:center;;">We have designed a general framework of eight components that provides an optimal implementation of decentralized cloud storage that can massively scale and still operate within the limits of any design constraints. Our V3 network is S3 compatible, has a pathway from object storage to CDN, uses Reed Solomon erasure coding instead of replication, and is 1/2 the price of traditional cloud storage providers.</p>
                </div>
            </div>

            <div class="spacer45"></div>


              <div class="row">
              <div class="col-12">

              <div class="">
              <a href="/Storj-White-Paper-Executive-Summary.pdf" class="btn btn-block" style="border: 2px solid #FFFFFF;	border-radius: 4px;background-color:white;color:#0082FF;padding:12.5px;margin-top:25px;font-size: 14px;	font-weight: 800;	line-height: 18px;	text-align: center;max-width:360px;">READ EXECUTIVE SUMMARY</a>
              </div>

              <div class="">
              <a href="/storjv3.pdf" class="btn btn-block" style="border: 2px solid #FFFFFF;	border-radius: 4px;padding:12.5px;margin-top:25px;font-size: 14px;	font-weight: 800;	line-height: 18px;	text-align: center;max-width:360px;">DOWNLOAD WHITEPAPER V3</a>
              </div>

              </div>
            </div>
            <div class="spacer45"></div>
            <div class="spacer45"></div>
          </div>
          </div>
        </section>
      </div>
