<div class="whitepaper-header">

  <div class="container visible-md visible-lg">
      <section>
        <nav class="navbar navbar-default menu">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a href="/" class="navbar-brand">
                <img src="/img/new-white-logo.svg" alt="Storj" class="logo img-responsive">
              </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                    {{range where .Site.Pages ".Params.class" "navitem"}}
                    <li><a class="link-style" href="{{ .Params.link }}">{{ .Title }}</a><div class="visible-lg-inline-block"></div></li>
                    {{end}}
                    <li><a href="/sign-up-node-operator/" class="pull-right-md"><button class="btn btn-transparent nav-join" alt="Sign Up">Sign Up</button></a></li>
              </ul>
            </div>
        </nav>
      </section>
  </div>

  <div class="visible-xs visible-sm text-center">
      <section>
        <nav class="navbar navbar-default menu ">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="/" class="navbar-brand">
                <img src="/img/new-white-logo.svg" alt="Storj" class="logo">
              </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    {{range where .Site.Pages ".Params.class" "navitem"}}
                    <li><a class="link-style" href="{{ .Params.link }}">{{ .Title }}</a><div class="visible-lg-inline-block"></div></li>
                    {{end}}
                    <li><a href="/sign-up-node-operator/"><button class="btn btn-primary nav-join" alt="Sign Up">Sign Up</button></a></li>
              </ul>
            </div>
        </nav>
      </section>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-lg-7">
        <div class="spacer40"></div>
        <h1>Storj Whitepaper V3</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-7">
        <p>We have designed a general framework of eight components that provides an optimal implementation of decentralized cloud storage that can massively scale and still operate within the limits of any design constraints. Our V3 network is S3 compatible, has a pathway from object storage to CDN, uses Reed Solomon erasure coding instead of replication, and is 1/2 the price of traditional cloud storage providers.</p>
      </div>
    </div>

    <div class="spacer20"></div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-4">
          <a href="/Storj-White-Paper-Executive-Summary.pdf" class="btn btn-primary">Read Executive Summary</a>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
          <a href="/storjv3.pdf" class="btn btn-white">Download Whitepaper V3</a>
      </div>
    </div>

  </div>

</div>
