<div class="header header-blue whitepaper-header">

  <section>
    {{partial "navbar" .}}
  </section>

  <div class="container">

    <div class="row">
      <div class="col-lg-7">
        <div class="spacer30"></div>
        <h1>Storj Whitepaper V3</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-7">
        <p class="subheading">We have designed a general framework of eight components that provides an optimal implementation of decentralized cloud storage that can massively scale and still operate within the limits of any design constraints. Our V3 network is S3 compatible, has a pathway from object storage to CDN, uses Reed Solomon erasure coding instead of replication, and is 1/2 the price of traditional cloud storage providers.</p>
      </div>
    </div>

    <div class="spacer20"></div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-3">
          <a href="/Storj-White-Paper-Executive-Summary.pdf" class="btn btn-primary btn-block">Read Executive Summary</a>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-3">
          <a href="/storjv3.pdf" class="btn btn-white btn-block">Download Whitepaper V3</a>
      </div>
    </div>

  </div>

</div>
