<section class="section">
  <div class="container">
      <h2 class="text-center-xs">Previous Releases</h2>
      <div class="spacer10">
      </div>
      {{ range where .Site.Pages ".Params.class" "prevrelease"}}
      <div class="row whitepaper-prev">
          <a href="{{.Params.link}}">

            <div class="col-xs-3 col-sm-2 col-md-1">
              <img class="whitepaper-pdf-icon" src="/img/icon_UI_filetype_pdf.svg" height="50px" width="50px"/>
            </div>

            <div class="col-xs-9 col-sm-10 col-md-11">
              <h4 class="whitepaper-prev-release">{{.Title}}</h4>
              <p class="whitepaper-prev-date">{{.Params.released}}</p>
            </div>

          </a>
      </div>
      {{end}}
  </div>
</section>
