<!DOCTYPE html>
<html lang="en">
<head>
    {{partial "head" .}}
</head>
<body class="unsubscribed-page page">
	<div class="container-fluid pt-3 pb-1 storj-blu-bg">
			<div class="container storj-blu-bg">
			{{ partial "nav"  .}}
			</div>
			<div class="container-fluid pt-3 d-xs-block d-lg-none storj-blu-bg"></div>
	</div>
	{{with .Site.GetPage "unsubscribedNotifications" }}
		{{ partial "unsubscribed/unsubscribed" (dict "message" .Params.msg)}}
	{{end}}
	<footer>
			{{partial "footer" . }}
	</footer>
	{{ partial "site-scripts" .}}
</body>
</html>
