<div class="container dei-at-storj">
	{{with .Site.GetPage "page" "atStorj"}}
		<div class="spacer90"></div>
    <div class="row text-center">
			<div class="col-lg-7">
				<h4 class="dei-at-storj-heading">{{.Params.heading}}</h4>
				<p class="dei-at-storj-subheading">{{.Params.subheading}}</p>
				<div class="spacer25"></div>
				<a href="{{.Params.ctaLink}}"><button class="btn dei-at-storj-btn">{{.Params.cta}}</button></a>
			</div>
			<div class="col-lg-5"><img src="{{.Params.image}}" /></div>
    </div>
		{{end}}
		<div class="spacer90"></div>
</div>
